.slant-toggle01 {
  position: relative;
  z-index: 0;
  height: 5px;
  width: 100%;
  background: transparent;
}

.slant-toggle01 img {
  position: relative;
  z-index: 20;
}

.slant-toggle01::before {
  content: "";
  display: block;
  position: absolute;
  top: -6000%;
  right: 0%;
  bottom: -50%;
  left: 0;
  background-color: white;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  z-index: -10;
}

.slant-toggle02 {
  position: relative;
  z-index: 0;
  margin-top: -5px;
  height: 5px;
  width: 100%;
  background: transparent;
}

.slant-toggle02 img {
  position: relative;
  z-index: 20;
}

.slant-toggle02::before {
  content: "";
  display: block;
  position: absolute;
  top: -5000%;
  right: 0%;
  bottom: 200%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.319);
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  z-index: -10;
}

.slant-toggle03 {
  position: relative;
  z-index: 0;
  margin-top: -10px;
  height: 10px;
  width: 100%;
  background: transparent;
}

.slant-toggle03::before {
  content: "";
  display: block;
  position: absolute;
  top: -700%;
  right: 0%;
  bottom: -2000%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.438);
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  z-index: -20;
}

.slant-toggle04 {
  position: relative;
  z-index: -1;
  margin-top: -10px;
  height: 10px;
  width: 100%;
  background: transparent;
}

.slant-toggle04 img {
  position: relative;
  z-index: 20;
}

.slant-toggle04::after {
  content: "";
  display: block;
  position: absolute;
  top: -700%;
  right: 0%;
  bottom: -2000%;
  left: 0;
  background-color: #001a69ea;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  z-index: -9;
}

.slant-toggle05 {
  position: relative;
  z-index: 10;
  height: 100px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle05 img {
  position: relative;
  z-index: 20;
}

.slant-toggle05::after {
  content: "";
  display: block;
  position: absolute;
  top: -200%;
  right: 0%;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -11;
  pointer-events: none;
}

.slant-toggle06 {
  position: relative;
  z-index: 10;
  height: 100px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle06 img {
  position: relative;
  z-index: 20;
}

.slant-toggle06::after {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  right: 0%;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -11;
  pointer-events: none;
}

.slant-toggle07 {
  position: relative;
  z-index: 10;
  height: 100px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle07 img {
  position: relative;
  z-index: 20;
}

.slant-toggle07::after {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  right: 0%;
  bottom: -50%;
  left: 0;
  background-color: white;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -11;
  pointer-events: none;
}

.slant-toggle11 {
  position: relative;
  z-index: 0;
  height: 10px;
  margin-top: -10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle11 img {
  position: relative;
  z-index: 20;
}

.slant-toggle11::after {
  content: "";
  display: block;
  position: absolute;
  top: -500%;
  right: 0%;
  bottom: -200%;
  left: 0;
  background-color: white;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -11;
  pointer-events: none;
}

.slant-toggle12 {
  position: relative;
  z-index: 10;
  height: 10px;
  margin-top: -10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle12 img {
  position: relative;
  z-index: 20;
}

.slant-toggle12::after {
  content: "";
  display: block;
  position: absolute;
  top: -200%;
  right: 0%;
  bottom: -100%;
  left: 0;
  background-color: white;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -11;
  pointer-events: none;
}

.slant-toggle13 {
  position: relative;
  z-index: 0;
  height: 10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle13 img {
  position: relative;
  z-index: 20;
}

.slant-toggle13::after {
  content: "";
  display: block;
  position: absolute;
  top: -440%;
  right: 0%;
  bottom: -1200%;
  left: 0;
  background-color: #001b69;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  z-index: -200;
  pointer-events: none;
}

.slant-toggle14 {
  position: relative;
  z-index: 9;
  height: 10px;
  margin-top: -10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle14 img {
  position: relative;
  z-index: 20;
}

.slant-toggle14::after {
  content: "";
  display: block;
  position: absolute;
  top: -180%;
  right: 0%;
  bottom: -500%;
  left: 0;
  background-color: #ffffff49;
  -webkit-transform: skewY(9deg);
          transform: skewY(9deg);
  z-index: -200;
  pointer-events: none;
}

.slant-toggle15 {
  position: relative;
  z-index: 3;
  height: 10px;
  margin-top: -10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle15 img {
  position: relative;
  z-index: 20;
}

.slant-toggle15::after {
  content: "";
  display: block;
  position: absolute;
  top: -800%;
  right: 0%;
  bottom: -600%;
  left: 0;
  background-color: #e3eff5;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -200;
  pointer-events: none;
}

.slant-toggle15 {
  position: relative;
  z-index: 3;
  height: 10px;
  margin-top: -10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle15 img {
  position: relative;
  z-index: 20;
}

.slant-toggle15::after {
  content: "";
  display: block;
  position: absolute;
  top: -180%;
  right: 0%;
  bottom: -2000%;
  left: 0;
  background-color: white;
  -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
  z-index: -200;
  pointer-events: none;
}

.slant-toggle16 {
  position: relative;
  z-index: 3;
  height: 10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle16 img {
  position: relative;
  z-index: 20;
}

.slant-toggle16::after {
  content: "";
  display: block;
  position: absolute;
  top: -900%;
  right: 0%;
  bottom: -100%;
  left: 0;
  background-color: #e3eff5;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -200;
  pointer-events: none;
}

.slant-toggle16 {
  position: relative;
  z-index: 100;
  height: 10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle16 img {
  position: relative;
  z-index: 20;
}

.slant-toggle16::after {
  content: "";
  display: block;
  position: absolute;
  top: -900%;
  right: 0%;
  bottom: -400%;
  left: 0;
  background-color: #e3eff5;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -200;
  pointer-events: none;
}

.slant-toggle17 {
  position: relative;
  z-index: 100000;
  height: 10px;
  width: 100%;
  background: transparent;
  pointer-events: none;
}

.slant-toggle17 img {
  position: relative;
  z-index: 20;
}

.slant-toggle17::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0%;
  bottom: -850%;
  left: 0;
  background-color: white;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: -200;
  pointer-events: none;
}
/*# sourceMappingURL=style-slant.css.map */