@charset "UTF-8";
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.fontG {
  font-family: "Meiryo", "MS PGothic", "Hiragino Kaku Gothic Pro", sans-serif;
}

.fontT {
  font-family: "MS Gothic", "Osaka-Mono", monospace;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.bop-to-the-top {
  position: relative;
  z-index: 1000;
  background-color: white;
}

body {
  background-color: white;
}

.-foreground {
  position: relative;
  z-index: 10;
}

.position-name > .position {
  color: black;
  font-size: 12px;
}

.position-name > .name {
  color: black;
}

.green-title {
  font-size: 30px;
  color: #00b04f;
}

.green-subtitle {
  color: #00b04f;
}

.black-subtitle {
  font-size: 26px;
}

.header-holder {
  background: #e3eff5;
}

.green-line {
  border-bottom: solid 1.5px #00b04f;
  margin-top: 0.8em;
}

.message-wrapper {
  z-index: 2;
}

.message-wrapper > .name01 {
  color: #00b04f;
}

.-foreground {
  position: relative;
  z-index: 10;
}

.main-carousel {
  background: #001b69;
}

.main {
  position: relative;
  z-index: 10;
  background-color: white;
}

.swiper-wrapper {
  background: #001b69;
  color: white;
}

.button-square {
  border: solid 1px #00b04f;
  text-align: center;
}

.button-square.-text {
  padding: 0.8em;
  color: #00b04f;
}

.news-container {
  z-index: 100;
}

.news-title {
  text-align: center;
}

.span-position {
  font-size: 14px;
}

.span-name {
  font-size: 22px;
}

.subtitle-blue {
  font-size: 26px;
  font-weight: bold;
  color: #001b69;
}

.header-blue {
  font-size: 22px;
  color: #001b69;
  font-weight: 600;
}

.recruit-professor-img img {
  width: 100%;
  height: auto;
}

table.company {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

table.company th,
table.company td {
  padding: 10px;
}

table.company th {
  background: #001b69;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  position: relative;
  color: #fff;
  font-weight: normal;
}

table.company td {
  background: #e3eff5;
  width: 75%;
  padding-left: 20px;
}

.online-lesson-container {
  background-color: #e3eff5;
}

#page_top {
  position: fixed;
  z-index: 100000;
  bottom: 30px;
  right: 20px;
}

#page_top a {
  background-color: #00b04f;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  padding: 18px 20px;
}

#page_top :hover {
  background-color: rgba(0, 128, 0, 0.87);
  text-decoration: none;
}

.btn-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.report-section {
  position: relative;
  z-index: 10;
}

.report-section > .date {
  display: inline-block;
  padding: 0.2em 1.5em;
  background: #001b69;
  color: white;
  font-size: 16px;
}

.report-section > .title {
  margin: 0.6em 0 0 0;
  font-size: 22px;
  color: #001b69;
}

.report-section .date02 {
  margin: 0.2em 0 0 0;
  font-size: 18px;
  color: #001b69;
}

.report-section .reporter {
  font-size: 14px;
  vertical-align: text-bottom;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.report-section > .image {
  margin: auto;
  width: 80%;
}

.report-section > .image img {
  width: 100%;
  height: auto;
  margin: 3em 0;
}

.slant-img {
  position: relative;
  z-index: -10;
}

.slant-headerTitle01 {
  position: relative;
  width: 100%;
  z-index: 0;
}

.slant-headerTitle01::before, .slant-headerTitle01::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
}

.slant-headerTitle01::before {
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 10vh 0;
  border-color: transparent white transparent transparent;
}

.slant-headerTitle01::after {
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10vh 0 0 100vw;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}

.slant-headerTitle01:first-child::before {
  display: none;
}

/*https://ri-mode.com/rainbow/2014/06/11/simple_css_dropdown_menu/*/
header {
  position: relative;
  z-index: -100;
  width: 100%;
  height: 500px;
}

header .header-title {
  margin: 2em;
}

header .header-title .image {
  position: relative;
  z-index: 1;
  width: 30vw;
  height: auto;
}

header .achievement-background-image {
  background-image: url("../img/achievement_header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .recruit-background-image {
  background-image: url("../img/recruit_header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-navigation {
  position: relative;
  z-index: 100000;
  width: 100%;
  white-space: wrap;
}

.header-navigation ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  position: relative;
  width: 14.285vw;
  /*親メニューの幅*/
  height: 75px;
  /*親メニューの高さ*/
  line-height: 75px;
  background: #001b69;
  /*親メニューの背景色*/
  color: #ffffff;
  /*親メニューの文字色*/
  text-align: center;
}

.header-navigation ul li a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-navigation ul li:hover,
.header-navigation ul li a:hover {
  background: #00b04f;
  /*ホバー時の親メニューの背景色*/
  color: white;
  /*ホバー時の親メニューの文字色*/
}

.header-navigation ul li ul {
  position: absolute;
  color: #00b04f;
  top: 75px;
  /*親メニューの高さと同じにする*/
  width: 14.285%;
  z-index: 100;
}

.header-navigation ul li ul a {
  color: #00b04f;
}

.header-navigation ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 14.285vw;
  /*サブメニューの幅*/
  height: 0;
  background: #770909;
  /*サブメニューの背景色*/
}

.header-navigation ul li ul li:hover,
.header-navigation ul li ul li a:hover {
  background: white;
  /*ホバー時のサブメニューの背景色*/
}

.header-navigation ul li:hover ul li,
.header-navigation ul li a:hover ul li {
  visibility: visible;
  background: white;
  overflow: visible;
  height: 75px;
  border: solid 1px #00b04f;
  /*サブメニューの高さ*/
  z-index: 10;
}

.header-navigation ul li:hover ul li a,
.header-navigation ul li a:hover ul li a {
  color: #00b04f;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.report-category {
  font-size: 14px;
}

.report-category > li {
  padding: 0.6em 0;
}

.report-category > .title {
  text-align: center;
  color: #00b04f;
  border: solid 1px #00b04f;
}

.report-category .category {
  border-bottom: 1px solid #00b04f;
}

.report-category .category.active {
  background: #00b04f;
  color: white;
}

.report-archive {
  margin-top: 2.5em;
  position: relative;
  z-index: 10;
}

.report-archive > .title {
  padding: 0.6em 0;
  border: solid 1px #00b04f;
  color: #00b04f;
}

.report-archive > .list {
  list-style-type: disc;
}

.report-archive > .list > li {
  padding: 0.6em 0 0 0;
}

.body-text {
  margin-top: 0.8em;
  font-size: 16px;
  line-height: 32px;
}

.news-list > .list {
  margin: 35px;
  padding: 0;
  line-height: 1.8;
  width: 100%;
}

.news-list > .list dt {
  width: 6em;
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
}

.news-list > .list dd {
  margin: 0 0 10px;
  padding: 0 5px 10px 8em;
  border-bottom: 1px dotted #ccc;
}

.research-section > .title-blue01 {
  color: #001b69;
  font-weight: bold;
}

.staff-container table td:first-child {
  font-size: 14px;
  width: 150px;
  text-align: center;
}

.staff-container .blue-background {
  text-align: center;
  width: 160px;
  height: 30px;
  line-height: 30px;
  background-color: #001b69;
  color: white;
}

.staff-container .w-100 {
  margin-bottom: 1em;
}

.staff-container .green-title.-mincho {
  font-style: italic;
}

.achievement-card {
  margin: 60px 0 0 0;
  height: 70px;
  width: 160px;
  border: solid 1px #00b04f;
  color: black;
  font-size: 20px;
}

.achievement-card p {
  color: black;
  line-height: 70px;
}

.achievement-card a {
  margin: auto 0 auto 0;
  line-height: 70px;
}

.achievement-card img {
  width: 1.3em;
  height: 1.6em;
  margin: auto 0 auto 0;
}

.about-thought {
  position: relative;
  z-index: 20;
  margin: 10em 0 2em 0;
  background-color: #e3eff5;
}

.about-thought .green-title {
  margin-top: 5em;
}

.about-thought img {
  width: 100%;
  height: auto;
}

footer {
  position: relative;
  z-index: 2;
  background: #001b69;
  color: white;
}

footer .footer-title {
  padding-top: 70px;
  text-align: center;
}

footer .footer-title > .title01 {
  font-size: 18px;
}

footer .footer-title > .title02 {
  font-size: 22px;
}

footer .address-area .button {
  border: solid 1px white;
  padding: 0.2em 1em;
}

footer .footer-banners img:last-child {
  margin-right: 0;
}

.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #fff;
  border: solid 3px #555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #fff;
  z-index: 2;
}

.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}

.balloon2 p {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */