.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-image: url("../img/top_bg01.png");
  background-size: cover;
}

header {
  background-image: url("../img/bg_header.png");
  background-color: white;
  width: 100%;
}

header .header {
  padding-top: 30px;
  width: 95%;
}

header .header-title {
  margin: 5px 30px 0 5px;
}

header img {
  height: 100px;
  width: 40px;
  margin-right: 20px;
}

header .smile {
  width: 3em;
  height: 1.5em;
  margin-left: 1.5em;
}

header .header-subtitle {
  margin: auto 30px 10px 0;
  border-bottom: solid 1px black;
}

header .header-list {
  margin-top: 10px;
}

header .header-list ul {
  margin: 0;
  padding: 0;
}

header .header-list li {
  text-align: center;
  margin-right: auto;
  list-style: none;
  white-space: nowrap;
}

header .header-list li:last-child {
  margin: 0;
}

header .header-list p {
  font-size: 10px;
}

header .header-list a {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.online-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: #fa9cac;
  font-weight: bold;
}

.online-btn p {
  color: white;
  text-align: center;
  line-height: 38px;
  font-size: 18px;
  margin: 0;
}

.online-btn p:last-child {
  font-size: 6px;
  line-height: 1px;
}

.online-btn a:hover {
  text-decoration: none;
}

.main-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.main-container .main-wrapper {
  width: 100%;
}

.main-container .main-wrapper .main-title {
  width: 100%;
  background: #fa9cac;
  color: white;
}

.main-container .main-wrapper .main-title h2 {
  font-size: 32px;
  line-height: 2.2em;
  font-weight: bold;
  margin: 0;
}

.main-container .main-wrapper .main-contents-bg {
  width: 100%;
}

.main-container .main-wrapper .main-contents-bg .main-contents {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  background: white;
  padding-top: 2em;
}

.main-container .main-wrapper .main-contents-bg .main-contents > div {
  margin: 0 auto 2em 0;
}

.main-container .main-wrapper .main-contents-bg .main-contents .text-vice-president {
  width: 50%;
}

.main-container .main-wrapper .main-contents-bg .main-contents .text-vice-president h3.name {
  color: green;
  border-bottom: solid 1px green;
  font-size: 22px;
  line-height: 50px;
  margin-bottom: 3em;
}

.main-container .main-wrapper .main-contents-bg .main-contents .text-vice-president p {
  font-size: 15px;
  line-height: 30px;
}

.main-container .main-wrapper .main-contents-bg .main-contents .img-vice-president {
  width: 40%;
}

.main-container .main-wrapper .main-contents-bg .main-contents .img-vice-president img {
  max-width: 100%;
  height: auto;
}

.main-container .main-wrapper .main-contents-bg .main-contents .career {
  width: 90%;
  margin: 0 auto;
}

.main-container .main-wrapper .main-contents-bg .main-contents .career p {
  color: green;
}

.main-container .main-wrapper .main-contents-bg .main-contents .career h3.name {
  color: green;
  border-bottom: solid 1px green;
  line-height: 50px;
}

.main-container .main-wrapper .main-contents-bg .main-contents .career table {
  width: 100%;
}

.main-container .main-wrapper .main-contents-bg .main-contents .career table td {
  border: solid 1px silver;
  padding: 0.8em 0 0.8em 0.8em;
}

.main-container .main-wrapper .main-contents-bg .main-contents .career table td:nth-child(1) {
  width: 8em;
  background: rgba(103, 158, 103, 0.822);
  color: white;
}

.main-container .main-wrapper .main-contents-bg .main-contents .part-time-title {
  width: 90%;
  margin: 0 auto 3em auto;
}

.main-container .main-wrapper .main-contents-bg .main-contents .part-time-title h4 {
  color: green;
  text-align: center;
  border-bottom: solid 1px green;
  font-size: 22px;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container .main-wrapper .main-contents-bg .main-contents .part-time-doctor {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 7em;
}

.main-container .main-wrapper .main-contents-bg .main-contents .part-time-doctor-img {
  width: 45%;
}

.main-container .main-wrapper .main-contents-bg .main-contents .part-time-doctor-img img {
  width: 100%;
  height: auto;
}

.main-container .main-wrapper .main-contents-bg .main-contents .part-time-doctor-table {
  width: 46%;
}

footer {
  width: 100%;
  background-color: white;
  background-image: url("../img/bg_header.png");
}

footer .footer {
  width: 85%;
  padding-top: 2em;
  margin: 0 auto 0 auto;
}

footer .footer .footer-title h1,
footer .footer .footer-title p {
  color: black;
}

footer .footer .footer-title .lily {
  width: 2em;
  height: auto;
}

footer .footer .footer-title .smile {
  width: 4em;
  height: auto;
}

footer .footer .footer-subtitle {
  border-bottom: solid 1px black;
  margin-right: 20px;
}

footer .footer .footer-subtitle p {
  font-size: 14px;
  margin: 0;
  line-height: 50px;
}

footer .footer .footer-info {
  margin-left: auto;
}

footer .footer .footer-info p {
  font-size: 12px;
  margin: 0 auto 0 0;
}

footer .footer .footer-info span {
  font-size: 24px;
  white-space: nowrap;
}

footer .footer .footer-list ul {
  padding: 0;
}

footer .footer .footer-list li {
  text-align: center;
  margin-right: auto;
  list-style: none;
  white-space: nowrap;
}

footer .footer .footer-list li:last-child {
  margin: 0;
}

footer .footer .footer-list p {
  font-size: 10px;
}

footer .footer .footer-list a {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.footer-title h1,
.footer-title p {
  font-size: 22px;
}

.padding {
  padding-bottom: 6em;
}

.header-title h1,
.header-title p {
  font-size: 30px;
  color: black;
}

.header-title :hover {
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

@media screen and (max-width: 1200px) {
  footer .footer {
    width: 95%;
  }
}

@media screen and (max-width: 1150px) {
  .header-title h1,
  .header-title p {
    font-size: 24px;
  }
  .footer {
    width: 100%;
  }
  .footer-title h1,
  .footer-title p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1050px) {
  .main-container .main-contents-bg .main-contents .vice {
    display: block;
  }
  .main-container .main-contents-bg .main-contents .vice .img-vice-president,
  .main-container .main-contents-bg .main-contents .vice .text-vice-president {
    width: 100%;
  }
  .main-container .main-contents-bg .main-contents .vice td:nth-child(1) {
    width: 30%;
  }
  .main-container .main-contents-bg .main-contents .career td:nth-child(1) {
    width: 30%;
  }
  .main-container .main-wrapper .main-contents .part-time-doctor > div {
    display: block;
  }
  .main-container .main-wrapper .main-contents .part-time-doctor > div .part-time-doctor-table {
    width: 100%;
  }
  .main-container .main-wrapper .main-contents .part-time-doctor > div .part-time-doctor-table td:nth-child(1) {
    width: 30%;
  }
  .main-container .main-wrapper .main-contents .part-time-doctor > div .part-time-doctor-img {
    margin-top: 1em;
    width: 100%;
  }
  .header-title h1,
  .header-title p {
    font-size: 24px;
  }
  .footer {
    width: 100%;
  }
  footer .footer {
    display: block;
  }
  footer .footer .footer-list {
    width: 95%;
  }
  footer .footer-title h1,
  footer .footer-title p {
    font-size: 18px;
  }
  .header {
    display: block;
  }
  .header-responsive-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .main-wrapper .main-info-wrapper > div {
    display: block;
  }
  .main-wrapper .info {
    width: 100%;
  }
  .main-wrapper .info .map {
    margin: 1em 0;
  }
  .main-wrapper .info-table-wrapper {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .main-container .main-wrapper table td nth-child(1) {
    width: 30%;
  }
  .main-container .main-wrapper .main-contents .part-time-doctor > div .part-time-doctor-table {
    width: 100%;
  }
  .main-container .main-wrapper .main-contents .part-time-doctor > div .part-time-doctor-table td:nth-child(1) {
    width: 30%;
  }
  .main-container .main-wrapper .main-contents .part-time-doctor > div .part-time-doctor-img {
    width: 100%;
  }
  footer .footer .footer-info {
    display: block;
  }
  .medical-wrapper .medical-inner-wrapper > div {
    display: block;
  }
  .letter-img-wrapper > div {
    display: block;
  }
  .doctor-message-wrapper {
    display: block;
  }
  .doctor-message-wrapper .doctor-img {
    margin: 0 auto;
  }
  .bg02 .main-news-wrapper .news-inner-wrapper {
    width: 95%;
  }
  .bg02 .main-news-wrapper .news-inner-wrapper .news-contents-wrapper .date {
    margin-right: 5px;
  }
  .header-responsive-wrapper {
    width: 95%;
  }
  .header-responsive-wrapper > div {
    display: block;
    text-align: center;
  }
  .header-responsive-wrapper .online-btn {
    margin-right: auto;
  }
  .header-list ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-list ul li {
    white-space: nowrap;
  }
  .footer-list ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-list ul li {
    white-space: nowrap;
  }
  .smile {
    display: none;
  }
  .banner {
    margin: 1em;
  }
}
/*# sourceMappingURL=style-greeting.css.map */