hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

$orange: rgb(255, 209, 59);
body {
    background: rgb(255, 238, 206);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.form-wrapper {
    text-align: center;
    background: rgba(255, 255, 255, 0.609);
    width: 50vw;
    margin: 50px auto;
    padding: 1.2em;
    color: black;
    border-radius: 5px;
    .oath {
        padding: 0.8em 1.8em 0 1.8em;
    }
    label {
        margin: 0;
    }
    .radio {
        width: 2em;
        height: 2em;
        margin-right: 0.5em;
    }
    .agree {
        text-align: left;
        margin-right: 0.4em;
    }
    .agreement-info {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        background: $orange;
        border-radius: 5px;
        padding: 0.8em 0.8em 1.2em 0.8em;
        margin: 1em 0 2em 0;
        input {
            position: relative;
            top: 22px;
        }
    }
    .hidden-wrapper {
        margin: 1em 0;
        padding: 0.8em;
        background: rgb(231, 231, 231);
        >div {
            width: 95%;
            margin: 0 auto;
        }
    }
    .post {
        input {
            width: 25%;
        }
    }
    .add {
        input {
            width: 100%;
        }
    }
    table {
        width: 100%;
        table-layout: fixed;
        word-break: break-all;
        word-wrap: break-all;
        white-space: nowrap;
        td:nth-child(1) {
            text-align: right;
        }
        input {
            width: 100%;
        }
    }
    .form-grounp {
        .form-title {
            width: 40%;
        }
    }
}

#zip21 {
    width: 90%;
    margin-right: auto;
}

.name-form {
    padding: 0.8em;
    width: 95%;
    margin: 0 auto;
}

.notice {
    display: none;
    color: red;
}

.asterisk {
    text-align: left;
    margin: 0.2em;
}

#submit {
    margin-top: 25px;
    height: 50px;
}

.btn.btn-warning:disabled {
    color: white;
    background-color: gray;
    border-color: gray;
}

@media screen and (max-width: 1000px) {
    .form-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .form-wrapper {
        width: 95%;
        padding: 0.4em;
        .oath {
            padding: 0;
        }
        .hidden-wrapper {
            padding: 0 0 0.5em 0;
        }
    }
}