$blue01: #001b69;
$blue02: #e3eff5;
$green01: #00b04f;
.slant-toggle01 {
    position: relative;
    z-index: 0;
    height: 5px;
    width: 100%;
    background: transparent;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle01::before {
    content: "";
    display: block;
    position: absolute;
    top: -6000%;
    right: 0%;
    bottom: 960%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-7deg);
    z-index: -10;
}

@media screen and (max-width: 1120px) {
    .slant-toggle01::before {
        bottom: 500%;
    }
}

@media screen and (max-width: 985px) {
    .slant-toggle01::before {
        bottom: 300%;
    }
}

@media screen and (max-width: 768px) {
    .slant-toggle01::before {
        bottom: 500%;
    }
}

@media screen and (max-width: 468px) {
    .slant-toggle01::before {
        bottom: 300%;
    }
}

.slant-toggle02 {
    position: relative;
    z-index: 0;
    margin-top: -5px;
    height: 5px;
    width: 100%;
    background: transparent;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle02::before {
    content: "";
    display: block;
    position: absolute;
    top: -5000%;
    right: 0%;
    bottom: 200%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.319);
    transform: skewY(7deg);
    z-index: -1;
}

.slant-toggle03 {
    position: relative;
    z-index: 3;
    margin-top: -10px;
    height: 10px;
    width: 100%;
    background: transparent;
}

.slant-toggle03::before {
    content: "";
    display: block;
    position: absolute;
    top: -200%;
    right: 0%;
    bottom: -2000%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.438);
    transform: skewY(7deg);
    z-index: -20;
}

.slant-toggle04 {
    position: relative;
    z-index: 2;
    margin-top: -10px;
    height: 10px;
    width: 100%;
    background: transparent;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle04::after {
    content: "";
    display: block;
    position: absolute;
    top: -700%;
    right: 0%;
    bottom: -2000%;
    left: 0;
    background-color: #001a69ea;
    transform: skewY(-7deg);
    z-index: -9;
}

.slant-toggle05 {
    position: relative;
    z-index: 10;
    height: 100px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle05::after {
    content: "";
    display: block;
    position: absolute;
    top: -200%;
    right: 0%;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    z-index: -11;
    pointer-events: none;
}

.slant-toggle06 {
    position: relative;
    z-index: 10;
    height: 10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle06::after {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: -1300%;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    z-index: -11;
    pointer-events: none;
}

.slant-toggle07 {
    position: relative;
    z-index: 10;
    height: 100px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle07::after {
    content: "";
    display: block;
    position: absolute;
    top: -30%;
    right: 0%;
    bottom: -50%;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    z-index: -11;
    pointer-events: none;
}

.slant-toggle11 {
    position: relative;
    z-index: 0;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle11::after {
    content: "";
    display: block;
    position: absolute;
    top: -500%;
    right: 0%;
    bottom: -200%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    z-index: -11;
    pointer-events: none;
}

.slant-toggle12 {
    position: relative;
    z-index: 10;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle12::after {
    content: "";
    display: block;
    position: absolute;
    top: -200%;
    right: 0%;
    bottom: -350%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    z-index: -11;
    pointer-events: none;
}

.slant-toggle13 {
    position: relative;
    z-index: 0;
    height: 10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle13::after {
    content: "";
    display: block;
    position: absolute;
    top: -440%;
    right: 0%;
    bottom: -8 0%;
    left: 0;
    background-color: $blue01;
    transform: skewY(-7deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle14 {
    position: relative;
    z-index: 9;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle14::after {
    content: "";
    display: block;
    position: absolute;
    top: -180%;
    right: 0%;
    bottom: -300%;
    left: 0;
    background-color: #ffffff49;
    transform: skewY(9deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle15 {
    position: relative;
    z-index: 3;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle15::after {
    content: "";
    display: block;
    position: absolute;
    top: -800%;
    right: 0%;
    bottom: -600%;
    left: 0;
    background-color: $blue02;
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle15 {
    position: relative;
    z-index: 3;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle15::after {
    content: "";
    display: block;
    position: absolute;
    top: -580%;
    right: 0%;
    bottom: -550%;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle16 {
    position: relative;
    z-index: 3;
    height: 10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle16::after {
    content: "";
    display: block;
    position: absolute;
    top: -900%;
    right: 0%;
    bottom: 300%;
    left: 0;
    background-color: $blue02;
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle16 {
    position: relative;
    z-index: 100;
    height: 10px;
    width: 100%;
    background: $blue02;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle16::after {
    content: "";
    display: block;
    position: absolute;
    top: -400%;
    right: 0%;
    bottom: -400%;
    left: 0;
    background-color: $blue02;
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

@media screen and (min-width: 1500px) {
    .slant-toggle16 {
        height: 12px;
    }
}

@media screen and (min-width: 2100px) {
    .slant-toggle16 {
        height: 20px;
    }
}

.slant-toggle17 {
    position: relative;
    z-index: 10000;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle17::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -250%;
    right: 0%;
    bottom: -500%;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    z-index: -200;
}

.slant-toggle18 {
    position: relative;
    z-index: 1;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle18::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -920%;
    right: 0%;
    bottom: 450%;
    left: 0;
    background-color: white;
    transform: skewY(0deg);
    z-index: -200;
}

.slant-toggle19 {
    position: relative;
    z-index: 3;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle19::after {
    content: "";
    display: block;
    position: absolute;
    top: 560%;
    right: 0%;
    bottom: -1650%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle20 {
    position: relative;
    z-index: 30;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle20::after {
    content: "";
    display: block;
    position: absolute;
    top: -470%;
    right: 0%;
    bottom: -500%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle21 {
    position: relative;
    z-index: 3;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle21::after {
    content: "";
    display: block;
    position: absolute;
    top: -360%;
    right: 0%;
    bottom: -500%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle22 {
    position: relative;
    z-index: 3;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle22::after {
    content: "";
    display: block;
    position: absolute;
    top: -500%;
    right: 0%;
    bottom: -600%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle23 {
    position: relative;
    z-index: 3;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle23::after {
    content: "";
    display: block;
    position: absolute;
    top: -500%;
    right: 0%;
    bottom: -600%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}

.slant-toggle24 {
    position: relative;
    z-index: 3;
    height: 10px;
    margin-top: -10px;
    width: 100%;
    background: transparent;
    pointer-events: none;
    img {
        position: relative;
        z-index: 20;
    }
}

.slant-toggle24::after {
    content: "";
    display: block;
    position: absolute;
    top: -500%;
    right: 0%;
    bottom: -600%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    z-index: -200;
    pointer-events: none;
}