hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    background: {
        image: url("../img/bg01.jpg");
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    width: 100%;
    height: 150vh;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

header {
    h1 {
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 0.5em 0;
    }
}

.form-wrapper {
    text-align: center;
    background: rgba(255, 255, 255, 0.609);
    width: 500px;
    margin: 0 auto;
    padding: 1.2em;
    color: black;
    border-radius: 5px;
    .form-wrapper td {
        width: 100%;
        margin: 0 auto;
    }
    label {
        margin-top: 1em;
        height: 50px;
        line-height: 50px;
    }
    .agree {
        margin-right: 0.4em;
    }
    .private-info {
        background: rgba(255, 255, 255, 0.726);
        border-radius: 5px;
        padding: 0.8em;
        input {
            vertical-align: middle;
            height: 1.8em;
            width: 1.8em;
        }
    }
    .btn.btn-primary:disabled {
        background-color: gray;
        border-color: gray;
    }
    .notice {
        margin: 2px 0 0 12px;
        text-align: left;
        display: none;
        color: #cc0000;
    }
    .asterisk {
        text-align: left;
        margin: 0.2em;
    }
}

#submit {
    margin-top: 25px;
    height: 60px;
}

@media screen and (max-width: 500px) {
    .form-wrapper {
        width: 95%;
    }
}