*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

.bg02 {
    width: 100%;
    background: {
        image: url("../img/top_bg02.png");
        size: cover;
    }
}

.main-wrapper {
    background: {
        image: url("../img/top_bg01.png");
        size: cover;
    }
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.header-subtitle p {
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    vertical-align: bottom;
}

header {
    background: {
        image: url("../img/bg_header.png");
        color: white;
    }
    width: 100%;
    .header {
        padding-top: 3em;
        width: 95%;
    }
    .header-title {
        margin: 5px 30px 0 15px;
        h1,
        p {
            white-space: nowrap;
        }
    }
    img {
        height: 100px;
        width: 40px;
        margin-right: 20px;
    }
    .smile {
        width: 5vw;
        height: 3vw;
        margin-left: 2em;
    }
    .header-subtitle {
        margin: auto 30px 10px 0;
        border-bottom: solid 1px black;
    }
    .header-list {
        margin-top: 10px;
        ul {
            padding: 0;
        }
        li {
            text-align: center;
            margin-right: auto;
            list-style: none;
            white-space: nowrap;
        }
        li:last-child {
            margin: 0;
        }
        p {
            font-size: 10px;
        }
        a {
            color: black;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.online-btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgb(250, 156, 172);
    font-weight: bold;
    p {
        color: white;
        text-align: center;
        line-height: 38px;
        font-size: 18px;
        margin: 0;
    }
    p:last-child {
        font-size: 6px;
        line-height: 1px;
    }
    a:hover {
        text-decoration: none;
    }
}

.online-btn:hover {
    background: rgb(255, 101, 127);
}

.main-info-wrapper {
    width: 90%;
    margin: 0 auto;
    p {
        margin: 0;
    }
    .main-img img {
        width: 100%;
    }
    .info {
        width: 50%;
        .number {
            font-size: 32px;
        }
        .tel {
            font-size: 24px;
        }
    }
    .info-table-wrapper {
        width: 100%;
        .info-table {
            width: 100%;
            text-align: center;
            color: #008000;
            tr:first-child {
                background: #73c38e;
                color: white;
                margin: 0;
            }
            th {
                font-weight: normal;
            }
            td {
                background: white;
                padding: 0;
            }
            p {
                margin: 0;
            }
            tr {
                height: 2em;
            }
            .attention {
                color: rgb(250, 156, 172);
                font-size: 12px;
                font-weight: bold;
            }
            .info-attention {
                color: #008000;
            }
        }
    }
}

.banner {
    margin: 4em;
}

table tr td:nth-of-type(1) {
    font-size: 14px;
    width: 250px;
}

table tr td:nth-of-type(2) {
    height: 50px;
    width: 50px;
}

table tr td:nth-of-type(3) {
    height: 50px;
    width: 50px;
}

table tr td:nth-of-type(4) {
    height: 50px;
    width: 50px;
}

table tr td:nth-of-type(5) {
    height: 50px;
    width: 50px;
}

table tr td:nth-of-type(6) {
    height: 50px;
    width: 50px;
}

table tr td:nth-of-type(7) {
    height: 50px;
    width: 120px;
    font-size: 14px;
}

table tr td:nth-of-type(8) {
    height: 50px;
    width: 50px;
}

.big-green {
    color: green;
    font-size: 26px;
}

.main-news-wrapper {
    background: white;
    .news-title {
        margin: 30px 0 0 0;
        letter-spacing: 4px;
        text-align: center;
        color: #73c38e;
        font-size: 30px;
    }
    .news-inner-wrapper {
        margin: 0 auto;
        width: 70%;
        background-color: rgba($color: #f1efef, $alpha: 1);
        .news-subtitle {
            text-align: center;
            font-weight: bold;
        }
        .news-contents-wrapper {
            padding: 50px 0;
            margin: 50px auto;
            width: 90%;
            .date {
                color: #73c38e;
                margin-right: 40px;
            }
        }
    }
}

.doctor-message-wrapper {
    width: 90%;
    margin: 0 auto;
    .doctor-img {
        width: 30%;
        height: 30%;
        img {
            object-fit: cover;
        }
        margin-right: 3em;
    }
    .doctor-title {
        color: #73c38e;
        letter-spacing: 4px;
        font-size: 34px;
        font-weight: 1;
    }
    .doctor-subtitle {
        font-weight: bold;
    }
    .doctor-txt {
        margin-top: 3em;
    }
    .click-btn {
        margin-left: auto;
    }
}

.click-btn {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #73c38e;
    color: rgb(206, 206, 127);
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
}

.letter-img-wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    >div {
        width: 95%;
        margin: 4em auto 2em auto;
        height: 20em;
    }
    .letter-img {
        border: solid 1px white;
        width: 100vw;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.medical-wrapper {
    margin-top: 3em;
    width: 90%;
    margin: 0 auto;
    .medical-title {
        color: rgb(250, 156, 172);
        letter-spacing: 5px;
        margin: 0;
        font-size: 34px;
        font-weight: 10;
    }
    .medical-subtitle {
        font-weight: bold;
    }
    .medical-title,
    .medical-subtitle {
        text-align: center;
    }
    .medical-inner-wrapper {
        margin: 0 auto;
        width: 95%;
        background: white;
        >div {
            width: 95%;
            margin: 0 auto;
        }
        .medical-txt {
            padding: 0 1em;
            p:first-child {
                font: {
                    size: 28px;
                }
                color: rgb(255,
                89,
                89);
            }
            p {
                font-weight: bold;
            }
        }
        .medical-img {
            position: relative;
            .click-btn {
                position: absolute;
                top: 75%;
                left: 75%;
            }
            img {
                object-fit: contain;
            }
        }
    }
}

.medical-container {
    width: 100%;
    text-align: center;
    .medical-title-pink {
        width: 100%;
        height: 7em;
        background: rgb(250, 156, 172);
        color: white;
        p {
            font-size: 32px;
            line-height: 3.5em;
        }
    }
    .medical-main-contents-bg {
        width: 70%;
        margin: 0 auto;
        >div {
            width: 100%;
        }
        .medical-main-contents {
            p {
                font-size: 20px;
            }
            p.title {
                font-size: 30px;
                margin-top: 2em;
                color: green;
                border-bottom: solid 1px;
            }
            .medical-card-wrapper {
                width: 90%;
                margin: 0 auto;
                p.card-title {
                    margin-top: 2em;
                    text-align: left;
                    color: green;
                }
                img {
                    height: 25%;
                    width: 25%;
                    margin: 0.5em;
                }
            }
            .medical-title-green {
                margin-top: 3em;
                height: 5em;
                background: rgba(0, 128, 0, 0.678);
                p {
                    line-height: 2.5em;
                    font-size: 30px;
                    color: white;
                }
            }
            .medical-school-doctor {
                margin-top: 12em;
                .title {
                    color: green;
                    border-bottom: solid 1px;
                    font-size: 34px;
                }
                table {
                    width: 100%;
                    td {
                        padding: 1em;
                        text-align: left;
                        border: solid 1px silver;
                        font-size: 24px;
                    }
                    td:nth-child(1) {
                        width: 40%;
                        text-align: center;
                        background-color: rgba(0, 128, 0, 0.698);
                        color: white;
                        font-size: 34px;
                    }
                }
            }
            .medical-txt-wrapper {
                p:first-child {
                    margin-top: 1em;
                    text-align: left;
                }
                .hospitals {
                    border: solid 1px gray;
                    padding: 4em 6em;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.access {
    width: 100%;
    &-title-pink {
        width: 100%;
        height: 7em;
        background: rgb(250, 156, 172);
        color: white;
        p {
            font-size: 32px;
            line-height: 3.5em;
            text-align: center;
        }
    }
    &-main-contents-bg {
        width: 90%;
        margin: 0 auto;
        background: white;
    }
    &-main-contents {
        width: 90%;
        margin: 0 auto;
        .access-subtitle-pink {
            background: rgb(250, 156, 172);
            border-radius: 5px;
            margin-top: 3em;
            height: p {
                font-size: 32px;
                color: white;
            }
            .subtitle {
                color: white;
                font-size: 28px;
                margin-left: 1em;
            }
        }
        .access-map-container {
            .access-googlemap {
                width: 70%;
                margin: 0.5em;
            }
            .clinic-outside {
                width: 30%;
                img {
                    width: 100%;
                    height: auto;
                    margin: 0.5em;
                }
            }
        }
        .access-info-container {
            p.title {
                font-size: 30px;
            }
            p.address {
                font-size: 22px;
            }
            p.medical {
                font-size: 22px;
            }
            p.tel {
                color: green;
                text-align: right;
                font-size: 26px;
            }
            .lily {
                margin: 2em 2em 0 auto;
                img {
                    height: 100%;
                    width: 6em;
                }
            }
            .reservation {
                background: rgb(250, 156, 172);
                border-radius: 10px;
                color: white;
                height: 8em;
                width: 15em;
                text-align: center;
                p {
                    line-height: 4em;
                    font-size: 30px;
                }
            }
        }
        .parking-info-container {
            .parking-map {
                margin: 1em;
                width: 50%;
            }
            .parking-txt {
                margin: 1em;
                width: 50%;
                .title {
                    text-align: center;
                    font-size: 26px;
                    color: red;
                    font-weight: bold;
                }
                .one,
                .three {
                    color: red;
                    font-size: 22px;
                    font-weight: bold;
                }
                .two {
                    color: black;
                    font-size: 18px;
                    font-weight: normal;
                }
                .five {
                    color: red;
                }
                .six {
                    color: black;
                }
                .seven {
                    color: red;
                    font-weight: bold;
                }
            }
        }
        .access-table-container {
            width: 95%;
            margin: 0 auto;
            .access-table {
                margin: 1em 0 6em 0;
                width: 100%;
                text-align: center;
                color: #008000;
                tr:first-child {
                    background: #73c38e;
                    color: white;
                    margin: 0;
                }
                th {
                    font-weight: normal;
                }
                td {
                    background: white;
                    padding: 0;
                }
                p {
                    font-size: 16px;
                    margin: 0;
                }
                tr {
                    height: 5em;
                }
                .attention {
                    color: rgb(250, 156, 172);
                    font-size: 14px;
                    font-weight: bold;
                }
                .info-attention {
                    color: #008000;
                }
                .big-green {
                    font-size: 30px;
                }
            }
        }
        .overtime-container {
            border: solid 14px rgba(0, 128, 0, 0.63);
            border-radius: 10px;
            >div {
                width: 90%;
                margin: 0 auto;
            }
            p {
                line-height: 12px;
            }
            .title {
                text-align: center;
                line-height: 56px;
                font-size: 28px;
                font-weight: bold;
                border-bottom: solid 2px;
            }
            .heading {
                font-size: 22px;
                font-weight: bold;
                margin-top: 1em;
            }
        }
    }
}

footer {
    width: 100%;
    background: {
        color: white;
        image: url("../img/bg_header.png");
    }
    .footer {
        width: 85%;
        padding-top: 2em;
        margin: 4em auto 0 auto;
        .footer-title {
            .lily {
                width: 2em;
                height: auto;
            }
            .smile {
                width: 4em;
                height: auto;
            }
        }
        .footer-subtitle {
            border-bottom: solid 1px black;
            margin-right: 20px;
            p {
                font-size: 14px;
                margin: 0;
                line-height: 50px;
            }
        }
        .footer-info {
            margin-left: auto;
            p {
                font-size: 12px;
                margin: 0 auto 0 0;
            }
            span {
                font-size: 24px;
                white-space: nowrap;
            }
        }
        .footer-list {
            ul {
                padding: 0;
            }
            li {
                text-align: center;
                margin-right: auto;
                list-style: none;
                white-space: nowrap;
            }
            li:last-child {
                margin: 0;
            }
            p {
                font-size: 10px;
            }
            a {
                color: black;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}

.footer-title {
    h1,
    p {
        font-size: 22px;
    }
}

.header-title {
    h1,
    p {
        font-size: 30px;
    }
}

@media screen and (max-width: 1150px) {
    .header-title {
        h1,
        p {
            font-size: 24px;
        }
    }
    .footer {
        width: 100%;
    }
    .footer-title {
        h1,
        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header-title {
        h1,
        p {
            font-size: 20px;
        }
    }
    .footer {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .header-title {
        h1,
        p {
            font-size: 18px;
        }
    }
    footer {
        .footer {
            .footer-title {
                p,
                h1 {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .header-responsive-wrapper {
        margin-left: 2em;
    }
    .header-title {
        h1,
        p {
            font-size: 30px;
        }
    }
    .header {
        display: block;
    }
    .medical-wrapper>div>div {
        display: block;
    }
    .doctor-message-wrapper {
        display: block;
        .doctor-img {
            width: 50%;
            height: 50%;
            margin: 0 auto;
        }
        .doctor-title,
        .doctor-subtitle,
        .doctor-txt {
            text-align: center;
        }
    }
    .news-inner-wrapper {
        width: 90% !important;
    }
    .main-info-wrapper {
        >div {
            display: block;
        }
        .info {
            width: 100%;
        }
        .map {
            margin: 1em 0;
        }
    }
}

@media screen and (max-width: 570px) {
    .header-title {
        h1,
        p {
            font-size: 4vw;
        }
    }
    .footer-list ul {
        flex-wrap: wrap;
    }
    .footer-info {
        flex-wrap: wrap;
        p {
            word-wrap: break-all;
        }
    }
}

@media screen and (max-width: 510px) {
    .header-responsive-wrapper {
        >div {
            display: block;
        }
    }
    .header-list li a,
    .header-subtitle p {
        font-size: 3vw;
    }
    .header-subtitle.online-btn {
        margin-right: auto;
    }
    .header-list ul {
        flex-wrap: wrap;
        text-align: left;
    }
}