body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

$blue01:blue;
$blue02:rgb(137, 137, 252);
$green01: green;
.-foreground {
    position: relative;
    z-index: 10;
}

.header-holder {
    background: $blue02;
}

.professor-message {}

.message-wrapper {
    z-index: 2;
    >.name01 {
        color: $green01;
    }
}

.-foreground {
    position: relative;
    z-index: 10;
}

.button-square {
    border: solid 1px $green01;
    text-align: center;
    &.-text {
        padding: 0.8em;
        color: $green01;
    }
}

.news-container {
    z-index: 100;
}

.news-title {
    text-align: center;
}

.news-list {
    >.list {
        margin: 35px;
        padding: 0;
        line-height: 1.8;
        width: 100%;
        dt {
            width: 6em;
            float: left;
            margin: 0;
            padding: 0 0 0 5px;
        }
        dd {
            margin: 0 0 10px;
            padding: 0 5px 10px 8em;
            border-bottom: 1px dotted #ccc;
        }
    }
}

footer {
    position: relative;
    z-index: 0;
    background: $blue01;
    color: white;
    .footer-title {
        padding-top: 200px;
        text-align: center;
        >.title02 {
            font-weight: bold;
        }
    }
}

footer::after {
    content: '';
    display: block;
    position: absolute;
    top: -20%;
    right: 0%;
    bottom: 80%;
    left: 0;
    background-color: white;
    transform: skewY(-5deg);
    z-index: -1;
}