.side-bar {
    background-color: white;
    width: 100%;
    height: auto;
    padding-bottom: 150px;
    &__banner {
        margin-top: 30px;
    }
    &__recommended-area {
        border: solid 1px skyblue;
    }
    &__recommended-title {
        margin-top: 30px;
        background-color: skyblue;
        text-align: center;
        color: white;
    }
    &__recommended-article {
        height: auto;
        display: flex;
        padding: 5px;
    }
}