.banner {
    width: 100%;
    &__full {
        width: 100%;
        height: auto;
    }
    &__half {
        width: 45%;
        height: auto;
    }
}

.banner:hover {
    &__full {
        opacity: 0.8;
    }
}