div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

ol,
ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}

a {
    color: black;
}

body {}

main {
    position: relative;
    padding: 0 0 160px 0;
    z-index: 1000000;
    background: {
        image: url("../asset/img/header.png");
        repeat: no-repeat;
        size: 100vw 1018.47px;
        position: center top;
    }
}

.main-container {
    position: relative;
    z-index: 100000;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    >.vertical {
        position: absolute;
        top: 73px;
        left: 73px;
        font-size: 18px;
        line-height: 42px;
        writing-mode: vertical-rl;
        text-align: left;
    }
    >.vertical-sp {
        display: none;
    }
    >.icon {
        margin: 126px 0 0 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    >.title {
        margin: 23.2px 0 0 0;
        img {
            width: 651.5px;
            height: 83.2px;
        }
    }
    >.text01 {
        margin: 43.2px 0 0 0;
        line-height: 30px;
        vertical-align: 0.05em;
        >.br-sp {
            display: none;
        }
        >.br-pc {
            display: inline;
        }
    }
    >.text01-sp {
        display: none;
    }
    >.text02 {
        font-family: 'Noto Serif JP';
        margin: 41px 0 0 0;
        >.date {
            font-family: 'Noto Serif JP';
            font-size: 78px;
            line-height: 112px;
            letter-spacing: 0.05em;
        }
        >.week {
            font-family: 'Noto Serif JP';
            font-size: 53px;
            line-height: 112px;
            letter-spacing: 0.05em;
        }
        >.schedule {
            font-family: 'Noto Serif JP';
            font-size: 78px;
            line-height: 112px;
            letter-spacing: 0.05em;
        }
        >br {
            display: none;
        }
    }
    >.two-flowers {
        margin: 25px 0 0 0;
        display: flex;
        justify-content: center;
        >.station {
            margin-right: 41.1px;
            position: relative;
            >p {
                position: absolute;
                right: 0;
                left: 0;
                top: 25%;
                font-size: 25px;
                line-height: 38px;
                letter-spacing: 0.05em;
            }
        }
        >.parking {
            position: relative;
            >p {
                position: absolute;
                right: 0;
                left: 0;
                top: 33%;
                font-size: 25px;
                line-height: 38px;
                letter-spacing: 0.05em;
            }
        }
        img {
            width: 211.88px;
            height: auto;
        }
        img:first-child {
            margin: 0 50px 0 0;
        }
    }
}

.map-container {
    position: relative;
    z-index: 10;
    margin: -170px auto 0 auto;
    background-repeat: no-repeat;
    background-color: #EDFBFD;
    background-size: fit;
    background-position: top center;
    >.right {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    >.left {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    >.sp {
        position: absolute;
        overflow: hidden;
        z-index: 10;
        width: auto;
        bottom: 0;
        left: 0;
    }
}

.google-map {
    position: relative;
    z-index: 10;
    padding: 255px 0 130px 0;
    margin: 0 auto 0 auto;
    width: 1100px;
    >.header {
        position: relative;
        display: flex;
        background: #53ABE2;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        >.title {
            font-family: 'Noto Serif JP';
            margin: 0 19px 0 31px;
            font-size: 57px;
            line-height: 94px;
            color: #F5EE37
        }
        >.info {
            color: white;
            text-align: left;
            >.text01 {
                margin: 15px 0 0 0;
                letter-spacing: 0.05em;
                font-size: 30px;
                line-height: 47px;
            }
            >.text02 {
                line-height: 18px;
                font-size: 14px;
            }
            >.text02-sp {
                display: none;
            }
        }
        >.welcome {
            position: absolute;
            z-index: 1000;
            top: -75px;
            right: -50px;
            >p {
                position: absolute;
                top: 28%;
                left: 0;
                right: 0;
                text-align: center;
                font-size: 17px;
                line-height: 28px;
                letter-spacing: 0.05em;
            }
        }
    }
    >.map {
        >iframe {
            height: 659px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        >.map-sp {
            display: none;
        }
    }
    .map-shadow {
        position: absolute;
        width: 1100px;
        height: 736px;
        background: #B4D0DE;
        border-radius: 15px;
        top: 285px;
        left: 13px;
        z-index: -1;
    }
}

.greeting-container {
    margin: 0 auto;
    padding: 108px 0 155px 0;
    background: {
        image: url("./img/greeting_bg.png");
        repeat: no-repeat;
        size: cover;
        position: top center;
    }
    .greeting-card {
        padding: 97px 123px 95px 123px;
        margin: 0 auto;
        text-align: center;
        background: white;
        max-width: 1100px;
        >.title {
            font-family: 'Noto Serif JP';
            font-size: 26px;
            line-height: 51px;
            letter-spacing: 0.05em;
        }
        >.text01 {
            margin: 31px 0 0 0;
            text-align: left;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 30px
        }
        >.text02 {
            margin: 30px 0 0 0;
            text-align: left;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 30px
        }
        >.text-name {
            margin: 90px 0 0 0;
            text-align: right;
            >.class {
                margin: 0 20px 0 0;
                line-height: 37px;
                letter-spacing: 0.05em;
            }
            >.name {
                font-family: 'Noto Serif JP';
                font-size: 28px;
            }
            >br {
                display: none;
            }
        }
    }
}

footer {
    position: relative;
    margin: 0 auto;
    padding: 61px 0;
    background: #E3E3E3;
    >.footer-vertical {
        position: absolute;
        right: 67px;
        bottom: 181px;
        writing-mode: vertical-rl;
        white-space: nowrap;
        font-size: 12px;
    }
    >.footer-vertical-sp {
        display: none;
    }
    >.tel-sp {
        margin: 38px 0 30px 0;
        width: calc(100vw - 50px);
        text-align: center;
        background: #C1DBF0;
        border-radius: 15px;
        >p {
            font-size: 12px;
            letter-spacing: 0.05em;
            line-height: 24px;
            ;
        }
        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            >p {
                font-size: 33px;
                letter-spacing: 0.05em;
                line-height: 84px;
            }
            img {
                margin-right: 6px;
                width: auto;
                height: auto;
            }
        }
    }
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    >.left-side {
        margin: 0 70px 0 0;
        >.icon-title {
            display: flex;
            margin-right: 10px;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        >.address {
            margin: 13.6px 0 0 0;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.05em;
        }
        >.tel {
            display: none;
            >p {
                font-size: 16px;
                letter-spacing: 0.05em;
                line-height: 30px;
                ;
            }
            >div {
                display: flex;
                align-items: center;
                >p {
                    font-size: 45px;
                    letter-spacing: 0.05em;
                    line-height: 84px;
                }
                img {
                    margin-right: 6px;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
    >.right-side {
        position: relative;
        z-index: 10;
        .biz-hour {
            text-align: center;
            width: 622px;
            thead {
                th {
                    background: #C1DBF0;
                    font-weight: normal;
                    white-space: nowrap;
                }
            }
            tbody {
                tr {
                    th {
                        br {
                            display: none;
                        }
                    }
                }
                th {
                    padding: 18px 47px;
                    font-size: 18px;
                    background: white;
                    white-space: nowrap;
                    font-weight: normal;
                }
                td {
                    background: white;
                    font-size: 16px;
                }
            }
        }
        .rest {
            margin: 12px 0 0 0;
        }
        .station {
            position: absolute;
            z-index: -1;
            top: -125px;
            right: 160px;
            width: 142px;
            height: auto;
            >p {
                position: absolute;
                text-align: center;
                right: 0;
                left: 0;
                top: 25%;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
            }
            >img {
                width: 142px;
                height: auto;
            }
        }
        .parking {
            position: absolute;
            z-index: -1;
            top: -125px;
            right: 0;
            width: 142px;
            height: auto;
            >p {
                position: absolute;
                text-align: center;
                right: 0;
                left: 0;
                top: 33%;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
            }
            >img {
                width: 142px;
                height: auto;
            }
        }
    }
}

.tel-sp {
    display: none;
}

.pageTop {
    position: absolute;
    bottom: 70px;
    right: 47px;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
}

table thead th,
table tbody th,
table tbody td {
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

table thead th {
    background-color: black;
}

table tbody th {
    background-color: black;
}

table thead th+th,
table tbody td {
    border-left: 1px solid black;
}

table tbody tr:last-child th,
table tbody tr:last-child td {
    border-bottom: none;
}

.till-twelve {
    padding: 17px 0 0 0;
    margin: 0 auto;
    text-align: center;
    p {
        white-space: nowrap;
        font-size: 10px;
        &.sp {
            display: none
        }
    }
}

@media screen and (max-width: 1400px) {
    .greeting-container {
        padding: 108px 25px 155px 25px;
    }
    footer {
        .footer-container {
            >.left-side {
                .icon-title {
                    width: 90%;
                }
            }
        }
        .footer-vertical {
            display: none;
        }
        .footer-vertical-sp {
            margin: 35px 0 0 0;
            padding: 0 0 84px 0;
            display: block;
            text-align: center;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 1250px) {
    .map-container {
        .google-map {
            margin: 0 auto;
            width: 86.6vw;
            >.map-shadow {
                width: 86.6vw;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .map-container {
        >.google-map {
            >.header {
                >.welcome {
                    top: -150px;
                    right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    footer {
        .footer-container {
            padding: 0 25px;
            display: block;
            >.left-side {
                margin: 0;
                >.icon-title {
                    padding: 42.9px 0 0 0;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                >.address {
                    margin: 13.6px 0 0 0;
                }
            }
            >.right-side {
                >.biz-hour {
                    table-layout: auto;
                    margin: 137px 0 0 0;
                    width: 100%;
                    thead {
                        th {
                            font-size: 12px;
                            padding: 5px;
                        }
                    }
                    tbody {
                        tr {
                            .till-twelve {
                                padding: 20px 0 0 0;
                                .pc {
                                    display: none;
                                }
                                .sp {
                                    display: block;
                                    font-size: 9px;
                                }
                            }
                        }
                        td {
                            font-size: 12px;
                            padding: 0
                        }
                    }
                    .time {
                        padding: 12px 0;
                        ;
                        font-size: 14px;
                        br {
                            display: inline
                        }
                    }
                }
                >.flower01,
                >.flower02 {
                    width: 131.2px;
                    top: -110px;
                }
                >.rest {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .main-container {
        >.text02 {
            display: block;
            >span.date {
                font-size: 78px;
            }
            >span.week {
                font-size: 53px
            }
            >.schedule {
                font-size: 78px;
            }
            >br {
                display: inline;
            }
        }
        >.two-flowers {
            margin-top: 0;
        }
    }
    .map-container {
        margin-top: -235px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 930px) {
    .map-container {
        .google-map {
            .header {
                .title {
                    font-size: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 863px) {
    .map-container {
        .google-map {
            .header {
                .title {
                    font-size: 38px;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    main {
        height: 835.72px;
    }
    .main-container {
        background-image: url("./img/header_sp.png");
        background-size: 100vw 835.72px;
        background-repeat: no-repeat;
        padding: 0 24px;
        .vertical {
            display: none;
        }
        .vertical-sp {
            display: block;
            margin: 21.3px 0 0 0;
            padding: 16.5px 0;
            font-size: 13px;
            letter-spacing: 0.05em;
            line-height: 24px;
            border-top: solid 1px black;
            border-bottom: solid 1px black;
        }
        >img.icon {
            margin-top: 25.6px;
            width: 26.2vw;
        }
        >img.title {
            width: 100%;
        }
        >.text01 {
            display: none;
        }
        >.text01-sp {
            margin-top: 28.5px;
            display: block;
            font-size: 13px;
            letter-spacing: 0.05em;
            line-height: 23px;
        }
        >.text02 {
            margin-top: 20px;
            >span.date {
                font-size: 37px;
                line-height: 52px;
            }
            >span.week {
                font-size: 26px;
                line-height: 52px;
            }
            >.schedule {
                font-size: 37px;
                line-height: 52px;
            }
        }
        >.two-flowers {
            margin-top: 30px;
            >.station,
            >.parking {
                >p {
                    font-size: 20px;
                    line-height: 30px;
                }
                img {
                    width: 156.52px;
                }
            }
            >.station {
                margin-right: 12.8px;
            }
            img {
                width: 156.5px;
            }
            img:first-child {
                margin: 0 12.8px 0 0;
            }
        }
    }
    .map-container {
        background-image: url("./img/map_sp.png");
        background-size: auto 1000px;
        height: 1000px;
        margin-top: -50px;
        background-position: 0% 0%;
        >.google-map {
            padding: 300px 25px 0 25px;
            padding-bottom: 189px;
            width: 100%;
            height: 510px;
            >.header {
                display: block;
                >.title {
                    margin: 0;
                    text-align: center;
                    font-size: 35px;
                    letter-spacing: 0.05em;
                    ;
                }
                >.info {
                    text-align: center;
                    >.text01 {
                        margin: -30px 0 0 0;
                        font-size: 21px;
                        letter-spacing: 0.05em;
                    }
                    >.text02 {
                        display: none;
                    }
                    >.text02-sp {
                        padding: 0 0 20px 0;
                        display: block;
                        font-size: 14px;
                        letter-spacing: 0.05em;
                        line-height: 26px;
                    }
                }
                >.welcome {
                    width: 265px;
                    top: -100px;
                    right: 0;
                    left: 80px;
                    >p {
                        top: 25%;
                        font-size: 15px;
                    }
                    >img {
                        width: 265px;
                    }
                }
            }
            >.map {
                >.map-pc {
                    display: none;
                }
                >.map-sp {
                    display: block;
                }
                iframe {
                    height: 319px;
                }
            }
            .map-shadow {
                width: calc(100% - 50px);
                height: 510px;
                top: 300px;
                left: 36px;
            }
        }
        >.left,
        >.right {
            display: none;
        }
        >.sp {
            height: 1000px;
        }
    }
    .greeting-container {
        padding: 45px 25px 45px 25px;
        >.greeting-card {
            padding: 30px 25px;
            >.text01 {
                font-size: 15px;
            }
            >.text-name {
                >.class {
                    margin: 0;
                    font-size: 14px;
                }
                >.name {
                    font-size: 25px;
                }
                br {
                    display: inline;
                }
            }
        }
    }
    footer {
        padding: 0 25px;
        .footer-container {
            display: block;
            padding: 0;
            >.left-side {
                >.icon-title {
                    padding: 42.9px 0 0 0;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                >.address {
                    margin: 13.6px 0 0 0;
                }
            }
            >.right-side {
                >.biz-hour {
                    table-layout: auto;
                    margin: 137px 0 0 0;
                    width: 100%;
                    thead {
                        th {
                            font-size: 12px;
                            padding: 5px;
                        }
                    }
                    tbody {
                        tr {
                            .till-twelve {
                                padding: 20px 0 0 0;
                                .pc {
                                    display: none;
                                }
                                .sp {
                                    display: block;
                                    font-size: 9px;
                                }
                            }
                        }
                        td {
                            font-size: 12px;
                            padding: 0
                        }
                    }
                    .time {
                        padding: 12px 0;
                        ;
                        font-size: 14px;
                        br {
                            display: inline
                        }
                    }
                }
                >.parking,
                >.station {
                    top: -58%;
                    >p {
                        right: 5%;
                        font-size: 15px;
                        line-height: 23px;
                    }
                    img {
                        width: 131.2px;
                        top: -110px;
                    }
                }
                >.rest {
                    font-size: 12px;
                }
            }
        }
        .pageTop {
            bottom: 30px;
            right: 22px;
        }
    }
}

@media screen and (max-width: 576px) {
    .map-container {
        margin-top: -350px;
        padding-bottom: 269px;
        .google-map {
            margin-top: 300px!important;
            >.map {
                iframe {
                    height: 319px;
                }
            }
        }
        .map-shadow {
            top: 253px;
            left: 7px;
            ;
        }
    }
}

@media screen and (max-width: 576px) {
    main {
        .two-flowers {
            margin-top: 50px!important;
        }
    }
    .map-container {
        .google-map {
            .header {
                .welcome {
                    left: 25%;
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .map-container {
        .google-map {
            .header {
                .welcome {
                    left: 10%;
                }
            }
        }
    }
}