div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: black;
}

header {
  margin: 140px 60px 0 60px;
}

header .-header {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .-header .header-title {
  margin: 0 0 0 40px;
}

header .-header .header-title img {
  width: 80px;
  height: auto;
}

header .-header .header-sns a {
  margin: 0 30px 0 0;
}

header .-header .header-sns a:last-child {
  margin: 0;
}

header .-header .header-sns img {
  width: 20px;
  height: auto;
}

header .header-navigation {
  margin: 50px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-navigation a {
  font-size: 14px;
  font-weight: bold;
  line-height: 24.5px;
  letter-spacing: 0.06em;
}

main .main-img {
  width: 100%;
}

main .main-img img {
  width: 100%;
  height: auto;
}

main .main-img-sp {
  display: none;
  width: 100%;
}

main .main-img-sp img {
  width: 100%;
  height: auto;
}

main .three-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contents-title {
  font-size: 23px;
  text-align: center;
}

.contents-title.-aboutUs {
  font-weight: bold;
  margin: 50px 0 0 0;
}

.contents-title.-recruit {
  margin: 170px 0 0 0;
}

.contents-title.-news {
  margin: 180px 0 0 0;
}

.main-wrapper {
  margin: 0 120px;
}

.under-bar {
  width: 80px;
  border-bottom: solid 3px black;
  margin: 10px auto 45px auto;
}

.under-bar.-aboutUs01 {
  position: relative;
  z-index: 10;
}

.under-bar.-aboutUs02 {
  position: relative;
  top: -46px;
  width: 100%;
  border-bottom: solid 1px silver;
  margin: 0;
}

.white-box {
  position: relative;
  margin: 0 10px 0 0;
  border: solid 1px black;
  height: 75px;
  width: 265px;
  line-height: 72px;
  text-align: center;
  font-size: 20px;
}

.white-box:last-child {
  margin: 0 0 0 0;
}

.white-box a {
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.recruit-new {
  text-align: center;
  font-size: 24px;
}

.recruit-new a {
  color: #00B2B3;
}

.recruit-top {
  position: relative;
  margin: 25px auto 0 auto;
  max-width: 600px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #00B2B3;
}

.recruit-top a {
  font-size: 26px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.news-container > .read-more {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.22em;
  text-align: right;
}

.news-item {
  margin: 0 0 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-item:last-child {
  margin: 0 0 40px 0;
}

.news-item > .logo {
  width: 80px;
  min-width: 80px;
  min-height: 80px;
  margin: 0 25px 0 0;
}

.news-item > .logo img {
  width: 100%;
  height: auto;
}

.news-item > .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-item > .contents > .text {
  font-size: 16px;
  line-height: 25px;
}

.news-item > .contents > .separator {
  margin: 0 35px;
  height: auto;
  border-right: solid 0.25px silver;
}

.news-item > .contents > .date {
  white-space: nowrap;
  letter-spacing: 0.04em;
  font-size: 14px;
}

footer {
  margin: 70px 0 0 0;
  border-top: solid 1px black;
}

.footer-navigation > .nav-contents.-firstChild {
  margin-left: 120px;
}

.footer-navigation > .nav-contents > .title {
  position: relative;
  height: 35px;
  width: 175px;
  border-left: 1px solid black;
}

.footer-navigation > .nav-contents > .title p {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  margin: 0 0 0 10px;
  font-size: 16px;
}

.footer-navigation > .nav-contents > .list a {
  font-size: 14px;
  line-height: 29px;
}

.pageTop {
  margin: 25px 80px 10px auto;
  width: 77px;
  height: auto;
}

.pageTop img {
  width: 100%;
  height: auto;
}

.copy-right {
  text-align: right;
  margin: 0 80px 0 auto;
}

.copy-right p {
  font-size: 12px;
}

.copy-right-sp {
  display: none;
  margin: 50px 0 0 0;
  text-align: center;
}

.copy-right-sp p {
  font-size: 12px;
}

.cosmo-sp {
  display: none;
}

@media screen and (max-width: 1000px) {
  .news-item > .contents > .date {
    white-space: normal;
  }
}

@media screen and (max-width: 768px) {
  header {
    margin: 35px 40px 0 40px;
  }
  header > div.flex.-header {
    display: block;
  }
  header > div.flex.-header .header-title {
    margin: 0 auto;
    text-align: center;
  }
  header > div.flex.-header .header-sns {
    margin: 45px 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header > div.flex.-header .cosmo-sp {
    display: block;
    white-space: nowrap;
  }
  header .header-navigation {
    display: none;
  }
  header .cosmo-wrapper {
    width: 33.333%;
  }
  header .cosmo-wrapper.-sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main-wrapper {
    margin: 0;
  }
  main .main-img {
    display: none;
  }
  main .main-img-sp {
    display: block;
  }
  main .three-contents {
    display: block;
  }
  main .white-box {
    margin: 95px auto 0 auto;
  }
  main .white-box:first-child {
    margin-top: 0;
  }
  main .white-box:last-child {
    margin: 95px auto 0 auto;
  }
  main .recruit-new {
    font-weight: bold;
  }
  main .recruit-top {
    font-weight: bold;
    margin: 25px auto 0 auto;
  }
  main p.contents-title.-recruit {
    margin-top: 75px;
  }
  main .news-container {
    margin: 0 40px 0 45px;
  }
  main .news-container > .news-item > .contents {
    display: block;
  }
  .read-more {
    margin-top: -40px;
  }
  footer .nav-contents:first-child {
    margin-left: 45px;
  }
  footer .copy-right {
    display: none;
  }
  footer .copy-right-sp {
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .news-item {
    display: block;
  }
  .news-item > .logo {
    margin: 0 0 10px 0;
  }
  header .header-sns .cosmo-wrapper a {
    margin-right: 10px;
  }
  .footer-navigation .nav-contents .title {
    width: 100px;
  }
  .footer-navigation .nav-contents:first-child {
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  header .header-title img {
    width: 80px;
  }
  header .cosmo-wrapper > .cosmo-sp {
    line-height: 30px;
    font-size: 6px;
  }
  header .cosmo-wrapper.-sns img {
    width: 20px;
  }
}
/*# sourceMappingURL=style.css.map */