@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: black;
}

.tooltip1 {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltip3 {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltip3 p {
  margin: 0;
  padding: 0;
}

.description3 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: black;
  border-radius: 5px;
  background: #CFDDC4;
  width: 150px;
}

.description3:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 60%;
  border: 15px solid transparent;
  border-top: 15px solid #CFDDC4;
  margin-left: -15px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.tooltip3:hover .description3 {
  display: inline-block;
  top: 100px;
  left: -25px;
}

.box27 {
  position: relative;
  margin: 3em 0;
  padding: 3em;
  border: solid 3px #25781D;
}

.box27 .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #25781D;
  color: #ffffff;
  font-weight: bold;
}

.box27 p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 60px 20px;
  background-color: whitesmoke;
}

.archive-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.archive-item {
  width: 33%;
  padding: 10px;
}

.archive-item {
  width: 30%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.archive-img-wrap {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.archive-img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.archive-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.archive-ttl {
  margin-bottom: 10px;
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.btn-more {
  display: block;
  margin: 0 auto;
  height: auto;
  line-height: 40px;
  padding: 0 20px;
  text-align: center;
  background-color: #25781D;
  color: #fff;
}

.cp_cssslider {
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 2em auto;
  border: 10px solid #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.cp_slide_item {
  width: 300px;
  height: 200px;
  float: left;
  position: relative;
}

.cp_slide_item img {
  width: 100%;
}

.cp_slidewrapper {
  width: 400%;
  /* slideの枚数×100% */
  position: relative;
  left: 0;
  -webkit-animation: slider 20s infinite ease;
          animation: slider 20s infinite ease;
  /* スピード */
}

@-webkit-keyframes slider {
  /* 100%を枚数で割った%に割り振る */
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  40% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
  }
  60% {
    -webkit-transform: translateX(-900px);
    transform: translateX(-900px);
  }
  80% {
    -webkit-transform: translateX(-1200px);
    transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slider {
  /* 100%を枚数で割った%に割り振る */
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  40% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
  }
  60% {
    -webkit-transform: translateX(-900px);
    transform: translateX(-900px);
  }
  80% {
    -webkit-transform: translateX(-1200px);
    transform: translateX(-1200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.css-carousel-slider4 {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.css-carousel-slider4 img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* スライド設定 */
.css-carousel-slider4 .slide-wrap {
  width: 400%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation: css-carousel-slider4 20s infinite;
          animation: css-carousel-slider4 20s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.css-carousel-slider4 .slide-wrap-main {
  z-index: 1;
  -webkit-animation: css-carousel-slider-main4 20s infinite;
          animation: css-carousel-slider-main4 20s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.css-carousel-slider4 .slide {
  width: 100%;
}

/* スライダーアニメーションの設定 */
@-webkit-keyframes css-carousel-slider4 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(calc(1 / 4 * -100%));
            transform: translateX(calc(1 / 4 * -100%));
  }
  25% {
    -webkit-transform: translateX(calc(1 / 4 * -100%));
            transform: translateX(calc(1 / 4 * -100%));
  }
  45% {
    -webkit-transform: translateX(calc(2 / 4 * -100%));
            transform: translateX(calc(2 / 4 * -100%));
  }
  50% {
    -webkit-transform: translateX(calc(2 / 4 * -100%));
            transform: translateX(calc(2 / 4 * -100%));
  }
  70% {
    -webkit-transform: translateX(calc(3 / 4 * -100%));
            transform: translateX(calc(3 / 4 * -100%));
  }
  75% {
    -webkit-transform: translateX(calc(3 / 4 * -100%));
            transform: translateX(calc(3 / 4 * -100%));
  }
  95% {
    -webkit-transform: translateX(calc(4 / 4 * -100%));
            transform: translateX(calc(4 / 4 * -100%));
  }
  100% {
    -webkit-transform: translateX(calc(4 / 4 * -100%));
            transform: translateX(calc(4 / 4 * -100%));
  }
}
@keyframes css-carousel-slider4 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(calc(1 / 4 * -100%));
            transform: translateX(calc(1 / 4 * -100%));
  }
  25% {
    -webkit-transform: translateX(calc(1 / 4 * -100%));
            transform: translateX(calc(1 / 4 * -100%));
  }
  45% {
    -webkit-transform: translateX(calc(2 / 4 * -100%));
            transform: translateX(calc(2 / 4 * -100%));
  }
  50% {
    -webkit-transform: translateX(calc(2 / 4 * -100%));
            transform: translateX(calc(2 / 4 * -100%));
  }
  70% {
    -webkit-transform: translateX(calc(3 / 4 * -100%));
            transform: translateX(calc(3 / 4 * -100%));
  }
  75% {
    -webkit-transform: translateX(calc(3 / 4 * -100%));
            transform: translateX(calc(3 / 4 * -100%));
  }
  95% {
    -webkit-transform: translateX(calc(4 / 4 * -100%));
            transform: translateX(calc(4 / 4 * -100%));
  }
  100% {
    -webkit-transform: translateX(calc(4 / 4 * -100%));
            transform: translateX(calc(4 / 4 * -100%));
  }
}

@-webkit-keyframes css-carousel-slider-main4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  75% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  95% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes css-carousel-slider-main4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  75% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  95% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.dodome__flex-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dodome__flex-icon {
  width: 150px;
  padding: 15px;
}

.dodome__flex-icon img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: auto;
}

.dodome__flex-icon p {
  text-align: center;
}

.dodome__midashi01 {
  color: #fff;
  font-size: 24px;
  position: relative;
  padding: 8px 16px;
  background: #25781D;
  margin-bottom: 20px;
}

.dodome__midashi01:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 30px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px solid #25781D;
}

.dodome__midashi02 {
  margin: 15px 0;
  color: #444;
  font-size: 24px;
  position: relative;
  padding: 10px 0 2px 28px;
  border-bottom: 3px solid #25781D;
}

.dodome__midashi02:before, .dodome__midashi02:after {
  content: "";
  position: absolute;
  margin: auto;
}

.dodome__midashi02:before {
  width: 12px;
  height: 12px;
  top: 0;
  left: 14px;
  background: #25781D;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.dodome__midashi02:after {
  width: 8px;
  height: 8px;
  top: 18px;
  left: 6px;
  background: #CFDDC4;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.dodome__midashi03 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #25781D;
}

.dodome__midashi03 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #25781D;
  font-weight: bold;
}

.dodome__midashi03 p {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  padding: 0 0 160px 0;
  z-index: 100000000000000;
  background-image: url("../asset/img/header.png");
  background-repeat: no-repeat;
  background-size: 100vw 1018.47px;
  background-position: center top;
}

.circle {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  border-radius: 50px;
  background: #95dade;
  -webkit-animation: fuwafuwa 2s infinite;
          animation: fuwafuwa 2s infinite;
}

.circle img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.circle3s {
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 50px auto;
  background-image: url("./img/f_f_traffic_45_s512_f_traffic_45_0nbg.png");
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

.shine {
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}

/* 光の疑似要素 */
.shine::before {
  content: "";
  -webkit-animation: shine 3s cubic-bezier(0.25, 0, 0.25, 1) infinite;
          animation: shine 3s cubic-bezier(0.25, 0, 0.25, 1) infinite;
  background-color: #fff;
  width: 140%;
  height: 100%;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  top: -10px;
  left: -160%;
  opacity: 0.5;
  position: absolute;
}

/* 光の動き */
@-webkit-keyframes shine {
  0% {
    left: -160%;
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  85% {
    left: -160%;
    opacity: 0.1;
  }
  86% {
    left: -160%;
    opacity: 0.2;
  }
  100% {
    left: -20%;
    opacity: 0;
  }
}
@keyframes shine {
  0% {
    left: -160%;
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  85% {
    left: -160%;
    opacity: 0.1;
  }
  86% {
    left: -160%;
    opacity: 0.2;
  }
  100% {
    left: -20%;
    opacity: 0;
  }
}

.circle4s {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  border-radius: 50px;
  background: #ed93b0;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}

keyframes shiny-btn1 0% {
  -webkit-transform: scale(0) rotate(45deg);
  opacity: 0;
}

keyframes shiny-btn1 80% {
  -webkit-transform: scale(0) rotate(45deg);
  opacity: 0.5;
}

keyframes shiny-btn1 81% {
  -webkit-transform: scale(4) rotate(45deg);
  opacity: 1;
}

keyframes shiny-btn1 100% {
  -webkit-transform: scale(50) rotate(45deg);
  opacity: 0;
}

.keyframe3 {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  border-radius: 50px;
  background: #95dade;
  -webkit-animation-name: anim_s;
          animation-name: anim_s;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes anim_s {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  66% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes anim_s {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  66% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fuwafuwa {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#clickablemap {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-size: initial;
  margin: 0 auto;
  background: url(./img/mainvisual_map.png) no-repeat top left;
  background-size: contain;
  -o-object-fit: none;
     object-fit: none;
  position: relative;
}

#clickablemap ul {
  list-style: none;
}

#clickablemap li.btn1 {
  position: absolute;
  top: 32vw;
  left: 55vw;
  display: block;
  width: 50px;
  height: 50px;
  background: url(btn1_on.png) no-repeat top left;
}

#clickablemap li.btn1__img {
  top: 25vw;
}

#clickablemap li.btn2 {
  position: absolute;
  top: 15vw;
  left: 47vw;
  display: block;
  width: 50px;
  height: 50px;
  background: url(btn2_on.png) no-repeat top left;
}

#clickablemap li.btn3 {
  position: absolute;
  top: 32vw;
  left: 22vw;
  display: block;
  width: 50px;
  height: 50px;
  background: url(btn3_on.png) no-repeat top left;
}

#clickablemap li.btn4 {
  position: absolute;
  top: 12vw;
  left: 12vw;
  display: block;
  width: 50px;
  height: 50px;
  background: url(btn4_on.png) no-repeat top left;
}

#clickablemap li a,
#clickablemap li a:link,
#clickablemap li a:visited {
  display: block;
}

#clickablemap li a:hover img,
#clickablemap li a:active img {
  visibility: hidden;
}

.img__list {
  width: 500px;
  height: auto;
}

@media screen and (max-width: 370px) {
  .map-container .google-map .header .welcome {
    left: 10%;
  }
}
/*# sourceMappingURL=style.css.map */