div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

ol,
ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}

a {
    color: black;
}

main {
    position: relative;
    padding: 0 0 160px 0;
    z-index: 1000000;
    background: {
        image: url("../asset/img/header.png");
        repeat: no-repeat;
        size: 100vw 1018.47px;
        position: center top;
    }
}

.circle {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    border-radius: 50px;
    background: #95dade;
    animation: fuwafuwa 2s infinite;
}

@keyframes fuwafuwa {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

#clickablemap {
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    background: url(./img/mainvisual_map.png) no-repeat top left;
    position: relative;
}

#clickablemap ul {
    list-style: none;
}

#clickablemap li.btn1 {
    position: absolute;
    top: 32vw;
    left: 55vw;
    display: block;
    width: 50px;
    height: 50px;
    background: url(btn1_on.png) no-repeat top left;
}

#clickablemap li.btn2 {
    position: absolute;
    top: 9vw;
    left: 47vw;
    display: block;
    width: 50px;
    height: 50px;
    background: url(btn2_on.png) no-repeat top left;
}

#clickablemap li.btn3 {
    position: absolute;
    top: 32vw;
    left: 22vw;
    display: block;
    width: 50px;
    height: 50px;
    background: url(btn3_on.png) no-repeat top left;
}

#clickablemap li.btn4 {
    position: absolute;
    top: 12vw;
    left: 12vw;
    display: block;
    width: 50px;
    height: 50px;
    background: url(btn4_on.png) no-repeat top left;
}

#clickablemap li a,
#clickablemap li a:link,
#clickablemap li a:visited {
    display: block;
}

#clickablemap li a:hover img,
#clickablemap li a:active img {
    visibility: hidden;
}

@media screen and (max-width: 370px) {
    .map-container {
        .google-map {
            .header {
                .welcome {
                    left: 10%;
                }
            }
        }
    }
}