@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

ol,
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: black;
}

main {
  position: relative;
  padding: 0 0 160px 0;
  z-index: 1000000;
  background-image: url("../asset/img/header.png");
  background-repeat: no-repeat;
  background-size: 100vw 1018.47px;
  background-position: center top;
}

.main-container {
  position: relative;
  z-index: 100000;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-container > .vertical {
  position: absolute;
  top: 73px;
  left: 73px;
  font-size: 18px;
  line-height: 42px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: left;
}

.main-container > .vertical-sp {
  display: none;
}

.main-container > .icon {
  margin: 126px 0 0 0;
}

.main-container > .icon img {
  width: 100%;
  height: auto;
}

.main-container > .title {
  margin: 23.2px 0 0 0;
}

.main-container > .title img {
  width: 651.5px;
  height: 83.2px;
}

.main-container > .text01 {
  margin: 43.2px 0 0 0;
  line-height: 30px;
  vertical-align: 0.05em;
}

.main-container > .text01 > .br-sp {
  display: none;
}

.main-container > .text01 > .br-pc {
  display: inline;
}

.main-container > .text01-sp {
  display: none;
}

.main-container > .text02 {
  font-family: 'Noto Serif JP';
  margin: 41px 0 0 0;
}

.main-container > .text02 > .date {
  font-family: 'Noto Serif JP';
  font-size: 78px;
  line-height: 112px;
  letter-spacing: 0.05em;
}

.main-container > .text02 > .week {
  font-family: 'Noto Serif JP';
  font-size: 53px;
  line-height: 112px;
  letter-spacing: 0.05em;
}

.main-container > .text02 > .schedule {
  font-family: 'Noto Serif JP';
  font-size: 78px;
  line-height: 112px;
  letter-spacing: 0.05em;
}

.main-container > .text02 > br {
  display: none;
}

.main-container > .two-flowers {
  margin: 25px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container > .two-flowers > .station {
  margin-right: 41.1px;
  position: relative;
}

.main-container > .two-flowers > .station > p {
  position: absolute;
  right: 0;
  left: 0;
  top: 25%;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.05em;
}

.main-container > .two-flowers > .parking {
  position: relative;
}

.main-container > .two-flowers > .parking > p {
  position: absolute;
  right: 0;
  left: 0;
  top: 33%;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.05em;
}

.main-container > .two-flowers img {
  width: 211.88px;
  height: auto;
}

.main-container > .two-flowers img:first-child {
  margin: 0 50px 0 0;
}

.map-container {
  position: relative;
  z-index: 10;
  margin: -170px auto 0 auto;
  background-repeat: no-repeat;
  background-color: #EDFBFD;
  background-size: fit;
  background-position: top center;
}

.map-container > .right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.map-container > .left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.map-container > .sp {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  width: auto;
  bottom: 0;
  left: 0;
}

.google-map {
  position: relative;
  z-index: 10;
  padding: 255px 0 130px 0;
  margin: 0 auto 0 auto;
  width: 1100px;
}

.google-map > .header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #53ABE2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.google-map > .header > .title {
  font-family: 'Noto Serif JP';
  margin: 0 19px 0 31px;
  font-size: 57px;
  line-height: 94px;
  color: #F5EE37;
}

.google-map > .header > .info {
  color: white;
  text-align: left;
}

.google-map > .header > .info > .text01 {
  margin: 15px 0 0 0;
  letter-spacing: 0.05em;
  font-size: 30px;
  line-height: 47px;
}

.google-map > .header > .info > .text02 {
  line-height: 18px;
  font-size: 14px;
}

.google-map > .header > .info > .text02-sp {
  display: none;
}

.google-map > .header > .welcome {
  position: absolute;
  z-index: 1000;
  top: -75px;
  right: -50px;
}

.google-map > .header > .welcome > p {
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.05em;
}

.google-map > .map > iframe {
  height: 659px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.google-map > .map > .map-sp {
  display: none;
}

.google-map .map-shadow {
  position: absolute;
  width: 1100px;
  height: 736px;
  background: #B4D0DE;
  border-radius: 15px;
  top: 285px;
  left: 13px;
  z-index: -1;
}

.greeting-container {
  margin: 0 auto;
  padding: 108px 0 155px 0;
  background-image: url("./img/greeting_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.greeting-container .greeting-card {
  padding: 97px 123px 95px 123px;
  margin: 0 auto;
  text-align: center;
  background: white;
  max-width: 1100px;
}

.greeting-container .greeting-card > .title {
  font-family: 'Noto Serif JP';
  font-size: 26px;
  line-height: 51px;
  letter-spacing: 0.05em;
}

.greeting-container .greeting-card > .text01 {
  margin: 31px 0 0 0;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 30px;
}

.greeting-container .greeting-card > .text02 {
  margin: 30px 0 0 0;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 30px;
}

.greeting-container .greeting-card > .text-name {
  margin: 90px 0 0 0;
  text-align: right;
}

.greeting-container .greeting-card > .text-name > .class {
  margin: 0 20px 0 0;
  line-height: 37px;
  letter-spacing: 0.05em;
}

.greeting-container .greeting-card > .text-name > .name {
  font-family: 'Noto Serif JP';
  font-size: 28px;
}

.greeting-container .greeting-card > .text-name > br {
  display: none;
}

footer {
  position: relative;
  margin: 0 auto;
  padding: 61px 0;
  background: #E3E3E3;
}

footer > .footer-vertical {
  position: absolute;
  right: 67px;
  bottom: 181px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  white-space: nowrap;
  font-size: 12px;
}

footer > .footer-vertical-sp {
  display: none;
}

footer > .tel-sp {
  margin: 38px 0 30px 0;
  width: calc(100vw - 50px);
  text-align: center;
  background: #C1DBF0;
  border-radius: 15px;
}

footer > .tel-sp > p {
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 24px;
}

footer > .tel-sp > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .tel-sp > div > p {
  font-size: 33px;
  letter-spacing: 0.05em;
  line-height: 84px;
}

footer > .tel-sp > div img {
  margin-right: 6px;
  width: auto;
  height: auto;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container > .left-side {
  margin: 0 70px 0 0;
}

.footer-container > .left-side > .icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  width: 100%;
}

.footer-container > .left-side > .icon-title img {
  width: 100%;
  height: auto;
}

.footer-container > .left-side > .address {
  margin: 13.6px 0 0 0;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.footer-container > .left-side > .tel {
  display: none;
}

.footer-container > .left-side > .tel > p {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 30px;
}

.footer-container > .left-side > .tel > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container > .left-side > .tel > div > p {
  font-size: 45px;
  letter-spacing: 0.05em;
  line-height: 84px;
}

.footer-container > .left-side > .tel > div img {
  margin-right: 6px;
  width: auto;
  height: auto;
}

.footer-container > .right-side {
  position: relative;
  z-index: 10;
}

.footer-container > .right-side .biz-hour {
  text-align: center;
  width: 622px;
}

.footer-container > .right-side .biz-hour thead th {
  background: #C1DBF0;
  font-weight: normal;
  white-space: nowrap;
}

.footer-container > .right-side .biz-hour tbody tr th br {
  display: none;
}

.footer-container > .right-side .biz-hour tbody th {
  padding: 18px 47px;
  font-size: 18px;
  background: white;
  white-space: nowrap;
  font-weight: normal;
}

.footer-container > .right-side .biz-hour tbody td {
  background: white;
  font-size: 16px;
}

.footer-container > .right-side .rest {
  margin: 12px 0 0 0;
}

.footer-container > .right-side .station {
  position: absolute;
  z-index: -1;
  top: -125px;
  right: 160px;
  width: 142px;
  height: auto;
}

.footer-container > .right-side .station > p {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 25%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.footer-container > .right-side .station > img {
  width: 142px;
  height: auto;
}

.footer-container > .right-side .parking {
  position: absolute;
  z-index: -1;
  top: -125px;
  right: 0;
  width: 142px;
  height: auto;
}

.footer-container > .right-side .parking > p {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 33%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.footer-container > .right-side .parking > img {
  width: 142px;
  height: auto;
}

.tel-sp {
  display: none;
}

.pageTop {
  position: absolute;
  bottom: 70px;
  right: 47px;
}

table {
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}

table thead th,
table tbody th,
table tbody td {
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

table thead th {
  background-color: black;
}

table tbody th {
  background-color: black;
}

table thead th + th,
table tbody td {
  border-left: 1px solid black;
}

table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none;
}

.till-twelve {
  padding: 17px 0 0 0;
  margin: 0 auto;
  text-align: center;
}

.till-twelve p {
  white-space: nowrap;
  font-size: 10px;
}

.till-twelve p.sp {
  display: none;
}

@media screen and (max-width: 1400px) {
  .greeting-container {
    padding: 108px 25px 155px 25px;
  }
  footer .footer-container > .left-side .icon-title {
    width: 90%;
  }
  footer .footer-vertical {
    display: none;
  }
  footer .footer-vertical-sp {
    margin: 35px 0 0 0;
    padding: 0 0 84px 0;
    display: block;
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (max-width: 1250px) {
  .map-container .google-map {
    margin: 0 auto;
    width: 86.6vw;
  }
  .map-container .google-map > .map-shadow {
    width: 86.6vw;
  }
}

@media screen and (max-width: 1200px) {
  .map-container > .google-map > .header > .welcome {
    top: -150px;
    right: 10px;
  }
}

@media screen and (max-width: 1200px) {
  footer .footer-container {
    padding: 0 25px;
    display: block;
  }
  footer .footer-container > .left-side {
    margin: 0;
  }
  footer .footer-container > .left-side > .icon-title {
    padding: 42.9px 0 0 0;
  }
  footer .footer-container > .left-side > .icon-title img {
    width: 100%;
    height: auto;
  }
  footer .footer-container > .left-side > .address {
    margin: 13.6px 0 0 0;
  }
  footer .footer-container > .right-side > .biz-hour {
    table-layout: auto;
    margin: 137px 0 0 0;
    width: 100%;
  }
  footer .footer-container > .right-side > .biz-hour thead th {
    font-size: 12px;
    padding: 5px;
  }
  footer .footer-container > .right-side > .biz-hour tbody tr .till-twelve {
    padding: 20px 0 0 0;
  }
  footer .footer-container > .right-side > .biz-hour tbody tr .till-twelve .pc {
    display: none;
  }
  footer .footer-container > .right-side > .biz-hour tbody tr .till-twelve .sp {
    display: block;
    font-size: 9px;
  }
  footer .footer-container > .right-side > .biz-hour tbody td {
    font-size: 12px;
    padding: 0;
  }
  footer .footer-container > .right-side > .biz-hour .time {
    padding: 12px 0;
    font-size: 14px;
  }
  footer .footer-container > .right-side > .biz-hour .time br {
    display: inline;
  }
  footer .footer-container > .right-side > .flower01,
  footer .footer-container > .right-side > .flower02 {
    width: 131.2px;
    top: -110px;
  }
  footer .footer-container > .right-side > .rest {
    font-size: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .main-container > .text02 {
    display: block;
  }
  .main-container > .text02 > span.date {
    font-size: 78px;
  }
  .main-container > .text02 > span.week {
    font-size: 53px;
  }
  .main-container > .text02 > .schedule {
    font-size: 78px;
  }
  .main-container > .text02 > br {
    display: inline;
  }
  .main-container > .two-flowers {
    margin-top: 0;
  }
  .map-container {
    margin-top: -235px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 930px) {
  .map-container .google-map .header .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 863px) {
  .map-container .google-map .header .title {
    font-size: 38px;
  }
}

@media screen and (max-width: 780px) {
  main {
    height: 835.72px;
  }
  .main-container {
    background-image: url("./img/header_sp.png");
    background-size: 100vw 835.72px;
    background-repeat: no-repeat;
    padding: 0 24px;
  }
  .main-container .vertical {
    display: none;
  }
  .main-container .vertical-sp {
    display: block;
    margin: 21.3px 0 0 0;
    padding: 16.5px 0;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 24px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }
  .main-container > img.icon {
    margin-top: 25.6px;
    width: 26.2vw;
  }
  .main-container > img.title {
    width: 100%;
  }
  .main-container > .text01 {
    display: none;
  }
  .main-container > .text01-sp {
    margin-top: 28.5px;
    display: block;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 23px;
  }
  .main-container > .text02 {
    margin-top: 20px;
  }
  .main-container > .text02 > span.date {
    font-size: 37px;
    line-height: 52px;
  }
  .main-container > .text02 > span.week {
    font-size: 26px;
    line-height: 52px;
  }
  .main-container > .text02 > .schedule {
    font-size: 37px;
    line-height: 52px;
  }
  .main-container > .two-flowers {
    margin-top: 30px;
  }
  .main-container > .two-flowers > .station > p,
  .main-container > .two-flowers > .parking > p {
    font-size: 20px;
    line-height: 30px;
  }
  .main-container > .two-flowers > .station img,
  .main-container > .two-flowers > .parking img {
    width: 156.52px;
  }
  .main-container > .two-flowers > .station {
    margin-right: 12.8px;
  }
  .main-container > .two-flowers img {
    width: 156.5px;
  }
  .main-container > .two-flowers img:first-child {
    margin: 0 12.8px 0 0;
  }
  .map-container {
    background-image: url("./img/map_sp.png");
    background-size: auto 1000px;
    height: 1000px;
    margin-top: -50px;
    background-position: 0% 0%;
  }
  .map-container > .google-map {
    padding: 300px 25px 0 25px;
    padding-bottom: 189px;
    width: 100%;
    height: 510px;
  }
  .map-container > .google-map > .header {
    display: block;
  }
  .map-container > .google-map > .header > .title {
    margin: 0;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.05em;
  }
  .map-container > .google-map > .header > .info {
    text-align: center;
  }
  .map-container > .google-map > .header > .info > .text01 {
    margin: -30px 0 0 0;
    font-size: 21px;
    letter-spacing: 0.05em;
  }
  .map-container > .google-map > .header > .info > .text02 {
    display: none;
  }
  .map-container > .google-map > .header > .info > .text02-sp {
    padding: 0 0 20px 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 26px;
  }
  .map-container > .google-map > .header > .welcome {
    width: 265px;
    top: -100px;
    right: 0;
    left: 80px;
  }
  .map-container > .google-map > .header > .welcome > p {
    top: 25%;
    font-size: 15px;
  }
  .map-container > .google-map > .header > .welcome > img {
    width: 265px;
  }
  .map-container > .google-map > .map > .map-pc {
    display: none;
  }
  .map-container > .google-map > .map > .map-sp {
    display: block;
  }
  .map-container > .google-map > .map iframe {
    height: 319px;
  }
  .map-container > .google-map .map-shadow {
    width: calc(100% - 50px);
    height: 510px;
    top: 300px;
    left: 36px;
  }
  .map-container > .left,
  .map-container > .right {
    display: none;
  }
  .map-container > .sp {
    height: 1000px;
  }
  .greeting-container {
    padding: 45px 25px 45px 25px;
  }
  .greeting-container > .greeting-card {
    padding: 30px 25px;
  }
  .greeting-container > .greeting-card > .text01 {
    font-size: 15px;
  }
  .greeting-container > .greeting-card > .text-name > .class {
    margin: 0;
    font-size: 14px;
  }
  .greeting-container > .greeting-card > .text-name > .name {
    font-size: 25px;
  }
  .greeting-container > .greeting-card > .text-name br {
    display: inline;
  }
  footer {
    padding: 0 25px;
  }
  footer .footer-container {
    display: block;
    padding: 0;
  }
  footer .footer-container > .left-side > .icon-title {
    padding: 42.9px 0 0 0;
  }
  footer .footer-container > .left-side > .icon-title img {
    width: 100%;
    height: 100%;
  }
  footer .footer-container > .left-side > .address {
    margin: 13.6px 0 0 0;
  }
  footer .footer-container > .right-side > .biz-hour {
    table-layout: auto;
    margin: 137px 0 0 0;
    width: 100%;
  }
  footer .footer-container > .right-side > .biz-hour thead th {
    font-size: 12px;
    padding: 5px;
  }
  footer .footer-container > .right-side > .biz-hour tbody tr .till-twelve {
    padding: 20px 0 0 0;
  }
  footer .footer-container > .right-side > .biz-hour tbody tr .till-twelve .pc {
    display: none;
  }
  footer .footer-container > .right-side > .biz-hour tbody tr .till-twelve .sp {
    display: block;
    font-size: 9px;
  }
  footer .footer-container > .right-side > .biz-hour tbody td {
    font-size: 12px;
    padding: 0;
  }
  footer .footer-container > .right-side > .biz-hour .time {
    padding: 12px 0;
    font-size: 14px;
  }
  footer .footer-container > .right-side > .biz-hour .time br {
    display: inline;
  }
  footer .footer-container > .right-side > .parking,
  footer .footer-container > .right-side > .station {
    top: -58%;
  }
  footer .footer-container > .right-side > .parking > p,
  footer .footer-container > .right-side > .station > p {
    right: 5%;
    font-size: 15px;
    line-height: 23px;
  }
  footer .footer-container > .right-side > .parking img,
  footer .footer-container > .right-side > .station img {
    width: 131.2px;
    top: -110px;
  }
  footer .footer-container > .right-side > .rest {
    font-size: 12px;
  }
  footer .pageTop {
    bottom: 30px;
    right: 22px;
  }
}

@media screen and (max-width: 576px) {
  .map-container {
    margin-top: -350px;
    padding-bottom: 269px;
  }
  .map-container .google-map {
    margin-top: 300px !important;
  }
  .map-container .google-map > .map iframe {
    height: 319px;
  }
  .map-container .map-shadow {
    top: 253px;
    left: 7px;
  }
}

@media screen and (max-width: 576px) {
  main .two-flowers {
    margin-top: 50px !important;
  }
  .map-container .google-map .header .welcome {
    left: 25%;
  }
}

@media screen and (max-width: 370px) {
  .map-container .google-map .header .welcome {
    left: 10%;
  }
}
/*# sourceMappingURL=style.css.map */