.ethical-bg{
    background: url(https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/ethical_all.jpg) top;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 750px) {
.ethical-bg{
    background: #e6f5f2 url(https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/ethical_all_sp.jpg) top;
    background-repeat: no-repeat;
    background-size: cover;
}
}

.ethical-bg-normal{
    background: #e6f5f2;
}

.ethical-wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
    padding: 40px 0 0 0;
}

.pc{
  display: block;
}

.sp{
  display: none;
}

.ethical-wrapper a{
    color: #2a9983;
    text-decoration: underline;
}

.ethical-wrapper a:hover{
    text-decoration: none;
}

.ethical-wrapper .ethical-img
 {
     padding: 50px 0 0 0;
     margin: 0 auto;
     width: 900px;
}

.ethical-wrapper .ethical-img img
 {
     width: 100%;
}

.ethical-wrapper .ethical-img p
 {
     text-align: center;
     padding: 15px 0 0 0;
}

@media (max-width: 750px) {
.ethical-wrapper .ethical-img
 {
     padding: 50px 0 0 0;
     margin: 0 auto;
     width: 100%;
}
}

@media (max-width: 750px) {
  .pc{
  display: none;
  }
  .sp{
  display: block;
  }
}

@media (max-width: 750px) {
  .ethical-wrapper {
      max-width: 90%;
      padding: 20px 0 0 0;
  }
}

.ethical-wrapper .ethical-body {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.ethical-wrapper .ethical-catch h1 img {
    width: 100%;
}

.ethical-wrapper .ethical-body-inner h2.tit-01 img {
    width:100%;
    padding-bottom: 10px;
}

@media (max-width: 750px) {
.ethical-wrapper .ethical-body-inner h2.tit-01 img {
      padding-bottom: 20px;
  }
}

.ethical-wrapper h3.ethical-text{
    padding: 30px 0 20px 0;
    font-size: 22px;
}

.ethical-wrapper h4.ethical-text{
    padding: 0px 0 30px 0;
    font-size: 22px;
}

@media (max-width: 750px) {
.ethical-wrapper h3.ethical-text {
      font-size: 20px;
  }
}

.ethical-wrapper h3.ethical-text{
    font-weight: bold;
}
.ethical-wrapper h4.ethical-text{
    text-align: center;
}
.ethical-wrapper .ethical-catch p,
.ethical-wrapper .ethical-catch h1,
.ethical-wrapper h3.ethical-text,
.ethical-wrapper h4.ethical-text {
    font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif !important;
    font-weight:inherit;
}
.ethical-wrapper .ethical-catch {
    text-align: center;
}

.ethical-wrapper .ethical-body-inner {
    padding: 0 0 35px 0;
}
.mg-txt-t{
    padding: 10px 0 0 0;
}
.mg-txt{
    padding: 35px 0 0 0;
}
.mg-txt-b{
    padding: 0 0 10px 0;
}
.mg-txt-bb{
    padding: 0 0 50px 0;
}
.slick-arrow.slick-hidden{
    display:none;
}
.slick-prev,.slick-next{
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:27px;
    height:69px;
    padding:0;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    cursor:pointer;
    color:transparent;
    border:none;
    outline:none;
    background:transparent;
    z-index:1;
}
@media screen and (max-width: 750px){
    .slick-prev,.slick-next{
        right:0px;
    }
}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{
    color:transparent;
    outline:none;
    background:transparent;
}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{
    opacity:1;
}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{
    opacity:.25;
}
.slick-prev:before,.slick-next:before{
    font-size:27px;
    line-height:1;
    opacity:.75;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;}[dir='rtl']

.slick-prev{
    right:-25px;
    left:auto;
}
.slick-prev:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_prev.png");
    position:absolute;
    top:-36px;
    left:50px;
}
#slider2 .slick-prev:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_prev.png");
    position:absolute;
    top:-36px;
    left:50px;
}

#slider3 .slick-prev:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_prev_w.png");
    position:absolute;
    top:-36px;
    left:50px;
}

@media screen and (max-width: 750px){
    .slick-prev:before{
        left:40px;
        top:-10px
    }
}[dir='rtl']

.slick-prev:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_next.png");
}

#slider2 .slick-prev:before{
    left:50px;
    top:-30px
    }}[dir='rtl']

#slider2 .slick-prev:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_next.png");
}

#slider3 .slick-prev:before{
    left:50px;
    top:-30px
    }}[dir='rtl']

#slider3 .slick-prev:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_next_w.png");
}

@media screen and (max-width: 750px){
    [dir='rtl']
    .slick-prev:before{}
}[dir='rtl']

.slick-next{
    right:auto;
    left:-25px
}

.slick-next:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_next.png");
    position:absolute;
    top:-36px;
    right:50px;
}

#slider2 .slick-next:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_next.png");
    position:absolute;
    top:-36px;
    right:50px;
}

#slider3 .slick-next:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_next_w.png");
    position:absolute;
    top:-36px;
    right:50px;
}

@media screen and (max-width: 750px){
#slider2 .slick-next:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_next.png");
    position:absolute;
    top:-50px;
    right: 20px;
}}

@media screen and (max-width: 750px){
#slider3 .slick-next:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_next_w.png");
    position:absolute;
    top:-30px;
    right: 20px;
}}

@media screen and (max-width: 750px){.slick-next:before{
    right:10px;
    top:-10px;
    }
}[dir='rtl']

.slick-next:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_prev.png")
}

@media screen and (max-width: 750px){
#slider2 .slick-prev:before{
    top:-50px;
    }}[dir='rtl']

#slider2 .slick-next:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_prev.png")
}}

@media screen and (max-width: 750px){
#slider3 .slick-prev:before{
    top:-30px;
    }}[dir='rtl']

#slider3 .slick-next:before{
    content:url("https://kireinotes.com/uploads/ab3fdf29aba395fc9ffe7a5bbbf18b528513c5ee/btn_prev_w.png")
}}

@media screen and (max-width: 750px){
    [dir='rtl'].slick-next:before{

    }
}

/* sp------------------------------ */

.ethical-wrapper .ethical-catch h1.ethical-main-catch {
    border-bottom: solid 5px #9bd3c6;
    margin: 30px auto;
    display: inline-block;
    font-size: 20px;
}

.ethical-wrapper .ethical-body h2.tit-01 {
    width:100%;
    padding-bottom: 20px;
}

.ethical-wrapper .ethical-body-inner .ethical-slide .slider {
    width: 100%;
    height: auto;
    margin: 40px auto 0 auto;
}

.ethical-wrapper .ethical-body-inner .ethical-slide .slider img{
    width: 100%;
}

.ethical-wrapper .ethical-banner {
    display: block;
    padding-bottom: 100px;
}

.ethical-wrapper .ethical-banner img {
    width: 100%;
    height: auto;
    padding: 0 0 30px 0;
}

.ethical-wrapper .ethical-slide .slider-lineup .slider {
    width: 100%;
    background: #fff;
    padding: 8px 8px 0px 8px;
    margin: 0px 0 10px 0;
}

.ethical-wrapper .ethical-slide .slider-lineup .slider img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.ethical-wrapper .ethical-slide .slider-lineup p.caption {
    padding: 5px 8px;
    font-size: 12px;
    line-height: 18px;
    color:#150f0d;
}

.slide-arrow {
    position: absolute;
    top: 200px;
}

.slidelineup-arrow {
    position: absolute;
    top: 200px;
    margin: 0 15px;
}

/* 600px〜959px：タブレット------------------------------ */

@media screen and (min-width:600px) and (max-width:959px) {}

/* 960px〜：PC------------------------------ */

@media screen and (min-width:960px) {

    .ethical-wrapper .ethical-catch h1.ethical-main-catch {
        border-bottom: solid 3px #9bd3c6;
        margin: 40px auto;
        display: inline-block;
        font-size: 38px;
    }
    .ethical-wrapper .ethical-body-inner {
        width:900px;
        margin: 0 auto;
    }

    .ethical-wrapper .ethical-body-inner h2.tit-01 {
        width:652px;
        padding-bottom: 20px;
    }

    .ethical-wrapper .ethical-body .ethical-slide .slider {
        width: 900px;
        margin: 10px auto;
    }
    .ethical-wrapper .ethical-banner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ethical-wrapper .ethical-banner img {
        width: 446px;
        height: 127px;
        padding: 0 0 20px 0;
    }

    .ethical-wrapper .ethical-slide .slider-lineup {
        width: 900px;
        padding: 4px 0;
        margin: 0 auto 10px auto;
    }

    .ethical-wrapper .ethical-slide .slider-lineup img {
        width: 874px;
        margin: 0 auto;
    }

    .ethical-wrapper .ethical-slide .slider-lineup p.caption {
        padding: 13px 0 13px 13px;
        line-height: 22px;
        font-size: 14px;
        color:#150f0d;
    }

    .slidelineup-arrow {
        position: absolute;
        top: 250px;
        margin: 0 15px;
    }
.mg-txt-bb{
    padding: 0 0 50px 40px;
}
}