div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

.newmake-container01, .newmake-container02, .newmake-container03 {
  padding: 0 170px;
}

.newmake-container01 {
  background: white;
  padding-bottom: 300px;
}

.newmake-container02 {
  background: #f2f2f0;
  padding-bottom: 300px;
}

.newmake-container03 {
  background: #fbf1e0;
}

.newmake img {
  width: 100%;
  height: auto;
}

.newmake-top-img {
  width: 100%;
  height: auto;
}

.newmake-top-img img {
  width: 100%;
  height: auto;
}

.newmake-container {
  widows: 100%;
}

.newmake-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newmake-profile img {
  width: 50%;
}

.newmake-profile > div {
  width: 50%;
}

.newmake .newmake-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newmake .newmake-item .newmake-item-img,
.newmake .newmake-item .newmake-item-text {
  width: 50%;
}

.newmake .newmake-item .newmake-item-img {
  width: 300px;
  height: 250px;
}

.newmake .newmake-item .newmake-item-img.-first {
  background-color: #f8c6a1;
}

.newmake .newmake-item .newmake-item-img.-second {
  background-color: #bcd0c9;
}

.newmake .newmake-item .newmake-item-img img {
  width: 100%;
  height: auto;
  position: relative;
  top: -10px;
  left: -10px;
}

.newmake .newmake-img02,
.newmake .newmake-img04 {
  position: relative;
  top: -250px;
}

.newmake-text01 {
  font-size: 20px;
  color: #f69126;
  text-align: center;
}

.newmake-text02 {
  font-size: 32px;
  color: #f69126;
  text-align: center;
}

.newmake-slick .newmake-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.newmake-slick .newmake-caption .newmake-img {
  width: 110px;
  height: 110px;
}

.newmake-slick .newmake-caption .newmake-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
}

.newmake-slick .newmake-caption .newmake-text {
  background: white;
}

.newmake-slick .newmake-caption .oneArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1024px;
  margin: 50px auto;
  padding: 0 10px;
}

.newmake-slick .newmake-caption .oneArea .onebox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newmake-slick .newmake-caption .oneArea .onebox:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 20px;
}

.newmake-slick .newmake-caption .oneArea .onebox .imgArea {
  width: 16%;
  position: relative;
}

.newmake-slick .newmake-caption .oneArea .onebox .fukidasi {
  width: 100%;
  position: relative;
  padding: 25px;
  background-color: #ffffff;
  color: #231815;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newmake-slick .newmake-caption .oneArea .onebox .fukidasi::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -15px;
  left: -35px;
  border-right: 25px solid transparent;
  border-bottom: 25px solid white;
}

.newmake-slick .newmake-caption .oneArea .onebox .fukidasi::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -25px;
  border-right: 25px solid transparent;
  border-bottom: 25px solid whitesmoke;
}

.newmake-slick .newmake-caption .oneArea .onebox:nth-child(odd) .fukidasi::before {
  left: -15px;
  border-left: 25px solid transparent;
  border-top: 25px solid transparent;
}

.newmake-slick .newmake-caption .oneArea .onebox:nth-child(odd) .fukidasi::after {
  left: -25px;
  border-left: 25px solid transparent;
  border-top: 25px solid transparent;
}

.newmake-slick .newmake-caption .oneArea .onebox:nth-child(even) .fukidasi {
  background-color: #fde5e5;
}

.newmake-slick .newmake-caption .oneArea .onebox:nth-child(even) .fukidasi::before {
  left: auto;
  right: -15px;
  border-left: 25px solid transparent;
  border-top: 25px solid #fde5e5;
}

.newmake-slick .newmake-caption .oneArea .onebox:nth-child(even) .fukidasi::after {
  left: auto;
  right: -25px;
  border-left: 25px solid transparent;
  border-top: 25px solid #ffffff;
}

@media screen and (max-width: 1024px) {
  .newmake-slick .newmake-caption .oneArea .onebox:nth-child(odd) .imgArea img {
    max-width: 70%;
    top: 0;
  }
  .newmake-slick .newmake-caption .oneArea .onebox:nth-child(even) .imgArea img {
    max-width: 70%;
    top: 0;
  }
  .newmake-slick .newmake-caption .oneArea .onebox .fukidasi {
    padding: 15px;
    font-size: 14px;
  }
  .newmake-slick .newmake-caption .oneArea .onebox .fukidasi::before {
    top: 8px;
  }
  .newmake-slick .newmake-caption .oneArea .onebox .fukidasi::after {
    top: 20px;
  }
}

@media screen and (max-width: 420px) {
  .newmake-slick .newmake-caption .oneArea {
    margin: 30px auto;
  }
  .newmake-slick .newmake-caption .oneArea .onebox:nth-child(even) {
    margin-top: 15px;
  }
  .newmake-slick .newmake-caption .oneArea .onebox .imgArea {
    width: 20%;
  }
  .newmake-slick .newmake-caption .oneArea .onebox .fukidasi {
    padding: 10px 15px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=newmake.css.map */