body {
    letter-spacing: 0!important;
}

.company {
    &__work-area {
        padding: 100px 0 70px;
        p {
            line-height: 21px;
            margin-top: 25px;
        }
        @media (max-width: 768px) {
            .company02__title-area {
                flex-direction: column-reverse;
            }
        }
        &--white {
            padding: 120px 0 180px;
            p {
                line-height: 21px;
                margin-top: 25px;
            }
        }
    }
    &__h2-subtitle {
        font-family: 'Gotham', sans-serif;
    }
    &__title {
        padding: 90px 0 80px;
        font-size: 35px;
        line-height: 55px;
        letter-spacing: 0;
        text-align: center;
        &--introduction {
            padding-bottom: 20px;
        }
    }
    &__flex-area {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &--banner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 115px 0 100px 0;
            max-width: 1200px;
            margin: 0 auto;
        }
        &--card {
            padding-bottom: 40px;
        }
        & .company01 {
            width: 28%;
            margin-top: 40px;
        }
    }
    &__card {
        width: 370px;
        padding: 0 0 35px 0;
        img {
            margin: 20px 0 30px;
        }
    }
    &__gray-area {
        width: 100%;
        background-color: #eeefef;
        &--training {
            padding: 55px 0 120px 0;
            img {
                margin-bottom: 40px;
            }
        }
        &--img01 {
            padding: 40px 45px;
        }
    }
    &__inner {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
    }
    @media (max-width: 768px) {
        &__work-area {
            p {
                margin-top: 0;
            }
            &--white {
                p {
                    margin-top: 0;
                }
            }
        }
        &__title {
            font-size: 22px;
            line-height: 32px;
            padding-bottom: 20px;
        }
        &__card {
            width: 90vw;
        }
        &__flex-area {
            flex-direction: column;
            & .company01 {
                width: 65%;
                margin: 40px auto 0 auto;
            }
        }
        &__gray-area {
            &--img01 {
                padding: 40px 10px;
            }
        }
    }
}

.company01 {
    &__article-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__table-area {
        padding: 40px 45px 60px;
        margin-bottom: 75px;
    }
    &__table {
        margin-bottom: 40px;
        letter-spacing: -0.1em;
        width: 100%;
        border-collapse: collapse;
        background-color: transparent;
        font-size: 15px;
        td {
            padding-left: 10px;
        }
        tr:first-child {
            color: #004098;
        }
        tr td:first-child {
            width: 10%;
            color: #004098;
        }
        tr:first-child {
            width: 50px;
        }
        tr td:first-child {
            text-align: center;
            border-left: none;
        }
        tr td:last-child {
            border-right: none;
        }
        table,
        td,
        th {
            border: 1px solid #c9c9ca;
            border-collapse: collapse;
        }
        td,
        th {
            padding: 3px;
            width: 30px;
            height: 25px;
            padding-left: 15px;
        }
        tr td:first-child {
            padding: 3px;
        }
        .table__white {
            background: white;
        }
    }
    &__img02 {
        position: relative;
        padding: 30px 40px 90px;
        img {
            width: 120%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    @media (max-width: 768px) {
        &__article-title {
            margin-bottom: 5px;
        }
        &__article-text {
            font-size: 15px;
            line-height: 22px;
        }
        &__img01 {
            width: 150vw;
        }
        &__img02 {
            padding: 30px 10px 90px;
            img {
                width: 120%;
                position: relative;
                left: 0%;
                transform: none;
            }
        }
        &__table-area {
            padding: 40px 10px 60px;
        }
        &__table {
            td,
            th {
                padding-left: 5px!important;
            }
        }
    }
}

.company02 {
    &__text {
        font-size: 15px;
        position: relative;
    }
    &__seven-btn {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: -40px;
        padding-bottom: 50px;
    }
    &__title-area {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 52px;
        color: #004098;
        margin-top: 10px;
    }
    &__subtitle {
        font-size: 30px;
        line-height: 51px;
        color: #004098;
    }
    &__title-img {
        width: 100%;
        max-width: 370px;
        position: relative;
        &+div {
            width: 100%;
        }
    }
    &__title-img:nth-child(2n+1) {
        margin-right: 60px;
    }
    &__img-number {
        &--right {
            font-family: "Gotham";
            position: absolute;
            color: #004098;
            font-size: 80px;
            top: -80px;
            right: 20px;
        }
        &--left {
            font-family: "Gotham";
            position: absolute;
            color: #004098;
            font-size: 80px;
            top: -80px;
            left: 20px;
        }
    }
    @media (max-width: 768px) {
        &__title-img {
            width: 100%;
            max-width: 100%;
            position: relative;
            &+div {
                width: 100%;
            }
        }
        &__seven-btn {
            margin-top: 0;
            justify-content: space-between;
        }
        &__title-area {
            flex-direction: column;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;
        }
    }
}

.btn {
    &__work {
        position: relative;
        width: 190px;
        height: 35px;
        border: solid 1px #004098;
        color: #004098;
        font-size: 15px;
        margin-right: 8px;
        margin-bottom: 15px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        span {
            position: relative;
        }
        svg {
            stroke: #004098;
            width: 7px;
            position: absolute;
            right: 10px;
            transition: all 0.2s ease;
            color: #004098;
        }
    }
    &__work:hover {
        background-color: #004098;
        color: white;
        & svg {
            stroke: white;
        }
    }
    &__interview {
        text-align: center;
        position: absolute;
        background-color: white;
        width: 330px;
        height: 50px;
        border: solid 1px #004098;
        color: #004098;
        font-size: 15px;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -95px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        &--company01 {
            bottom: -25px;
        }
        span {
            position: relative;
        }
        svg {
            stroke: #004098;
            width: 7px;
            position: absolute;
            top: calc(50% - 4px);
            right: 10px;
            transition: all 0.2s ease;
            color: #004098;
        }
    }
    &__interview:hover {
        background-color: #004098;
        color: white;
        & svg {
            stroke: white;
        }
    }
    @media (max-width: 768px) {
        &__work {
            width: 44vw;
            height: 50px;
            margin-right: 0;
        }
    }
    @media (max-width: 768px) {
        &__interview {
            width: 90vw;
            &--company01 {
                width: 80vw;
            }
        }
    }
}

.training {
    &__title {
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 60px;
        text-align: center;
    }
    &__description {
        line-height: 25px;
        font-size: 15px;
        padding-bottom: 25px;
    }
    @media (max-width: 768px) {
        &__description {
            line-height: 22px;
        }
    }
}

.company-banner {
    width: 445px;
    height: 290px;
    margin-top: 20px;
    &__title {
        color: white;
        &01 {
            font-size: 32px;
            line-height: 0px;
            letter-spacing: 0.12em;
            margin: 10px 0 27px 0;
        }
        &02 {
            font-family: 'Gotham', sans-serif;
            font-size: 12px;
            letter-spacing: 0.11em;
        }
    }
    &__layer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background: rgba($color: black, $alpha: 0.2);
        padding: 28px 31px;
        transition: 0.2s;
    }
    &:hover &__layer {
        background: rgba($color: black, $alpha: 0)
    }
    &__btn {
        align-self: flex-end;
        margin-left: auto;
        width: 230px;
        height: auto;
        text-align: left;
        border-bottom: dotted 1px white;
        p {
            font-size: 10px;
            color: white;
        }
        span {
            font-size: 10px;
            color: white;
            position: relative;
            padding: 5px;
        }
        svg {
            width: 7px;
            position: absolute;
            top: calc(50% - 4px);
            right: 10px;
            transition: all 0.2s ease;
        }
    }
    &--01 {
        background-image: url("../images/company/company_banner01.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    &--02 {
        background-image: url("../images/company/company_banner02.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    &--03 {
        background-image: url("../images/company/company_banner03.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    @media (max-width: 768px) {
        width: 90vw;
        height: 58.6vw;
        &__title {
            &01 {
                font-size: 24px;
            }
            &02 {
                font-size: 9px;
            }
        }
    }
}

.card {
    &__title {
        color: #004098;
        line-height: 40px;
        font-size: 23px;
    }
    &__subtitle {
        background-color: #eeefef;
        width: fit-content;
        position: relative;
        font-size: 12px;
        z-index: 10;
        margin-bottom: 10px;
        width: 100%;
    }
    &__img {
        &--company01 {
            margin-bottom: 7px!important;
            margin-top: 10px!important;
        }
    }
    &__subtitle:after {
        content: "";
        position: absolute;
        top: 10px;
        width: 255px;
        height: auto;
        border-top: solid 1px gray;
        right: 0;
    }
    &__text {
        margin-top: 10px;
        &--company01 {
            font-size: 13px;
        }
    }
    @media (max-width: 768px) {
        &__text {
            font-size: 15px;
        }
        &__subtitle {
            margin-top: -40px;
        }
        &__subtitle:first-child {
            margin-top: 0;
        }
        &__subtitle:after {
            width: 70vw;
        }
    }
    @media (max-width: 550px) {
        &__subtitle:after {
            width: 65vw;
        }
    }
    @media (max-width: 440px) {
        &__subtitle:after {
            width: 60vw;
        }
    }
    @media (max-width: 340px) {
        &__subtitle:after {
            width: 55vw;
        }
    }
}


/*===========
.scroll-box
===========*/

@media (max-width: 768px) {
    .scroll-box {
        overflow-x: auto;
        padding-bottom: 10px;
        -webkit-overflow-scrolling: touch;
    }
    .scroll-box img {
        max-width: 100%;
        min-width: 700px;
        vertical-align: top;
    }
    /*===========
  scrollbar
  ===========*/
    /*スクロールバー全体の高さ*/
    .scroll-box::-webkit-scrollbar {
        height: 4px;
    }
    /*スクロールバー全体の背景*/
    .scroll-box::-webkit-scrollbar-track {
        background: #eee;
    }
    /*スクロールバーの動く部分*/
    .scroll-box::-webkit-scrollbar-thumb {
        background: #aaa;
        border: none;
    }
    /*スクロールバーの動く部分のホバー（マウスオーバー）*/
    .scroll-box::-webkit-scrollbar-thumb:hover {
        background: #999;
    }
}