body {
    background-color: black;
    color: white;
}

html,
body {
    height: 100%;
}

is-flex {
    display: flex;
}

.body__wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
    background-color: black;
}

.header {
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: transparent;
    }
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &__left {
        margin-right: 50px;
    }
    &__logo-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 94.1px;
        margin-top: -10px;
    }
    &__logo {
        position: relative;
        width: 80.25px;
        height: 94.1px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 57px;
            width: auto;
            margin: auto;
        }
        &.logo01 {
            img {
                height: 33px;
            }
        }
        &.logo01:before {
            z-index: 10;
            content: '1';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 10px;
            right: 0;
            color: white;
        }
        &.logo02:before {
            z-index: 10;
            content: '2';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 10px;
            right: 0;
            color: white;
        }
        &.logo03:before {
            z-index: 10;
            content: '3';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 10px;
            right: 0;
            color: white;
        }
        &.logo04:before {
            z-index: 10;
            content: '4';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 10px;
            right: 0;
            color: white;
        }
    }
    &__img {
        width: 107px;
        height: 128px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__right {
        position: relative;
        width: 321px;
    }
    &_map {
        &-link01 {
            position: absolute;
            color: red;
            top: 77px;
            left: 25px;
            font-size: 2em;
        }
        &-link02 {
            position: absolute;
            color: red;
            top: 25px;
            left: 87px;
            font-size: 2em;
        }
        &-link03 {
            position: absolute;
            color: red;
            top: 48px;
            left: 176px;
            font-size: 2em;
        }
        &-link04 {
            position: absolute;
            color: red;
            top: 66px;
            left: 76px;
            font-size: 2em;
        }
    }
    &__map {
        width: 100%;
        height: auto;
    }
    &__line {
        margin: 30px auto 0 auto;
    }
}

.main {
    border-top: solid 4px white;
    color: white;
    max-width: 1000px;
    margin: 34px auto 50px auto;
    display: flex;
    justify-content: space-around;
    &__section {
        width: 175px;
    }
    &__logo {
        position: relative;
        width: 175px;
        margin: 0 auto;
        height: 206px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            width: auto;
            margin: auto;
        }
        &--01 {
            img {
                width: 154px;
                height: auto;
            }
        }
        &--02 {
            img {
                width: 44px;
                height: auto;
            }
        }
        &--03 {
            img {
                width: 73px;
                height: auto;
            }
        }
        &--04 {
            img {
                width: 109px;
                height: auto;
            }
        }
    }
    &__wrapper {
        height: 124px;
        width: 175px;
    }
    &__icon {
        width: 25px;
        height: 25px;
        &--map {
            width: 12px;
            height: 18px;
        }
        &--tel {
            width: 15px;
            height: 14px;
        }
        &--house {
            width: 18px;
            height: 16px;
        }
        &--insta {
            width: 16px;
            height: 16px;
        }
    }
    &__flex {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img {
            margin: auto;
        }
    }
    &__text {
        width: 148px;
        margin-left: 5px;
    }
    &__short-line {
        width: 100%;
        margin: 50px 0 30px 0;
    }
    &__map {
        width: 100%;
    }
    &__copyright {
        text-align: center;
        padding-bottom: 5px;
        padding-top: 25px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 9px;
    }
    .header {
        flex-direction: column;
        &__left {
            margin-right: 0;
            margin-bottom: 40px;
        }
        &__right {
            width: 95vw;
        }
        &_map {
            &-link01 {
                position: absolute;
                color: red;
                top: 24vw;
                left: 9vw;
                font-size: 4vw;
            }
            &-link02 {
                position: absolute;
                color: red;
                top: 9vw;
                left: 27vw;
                font-size: 4vw;
            }
            &-link03 {
                position: absolute;
                color: red;
                top: 16vw;
                left: 53vw;
                font-size: 4vw;
            }
            &-link04 {
                position: absolute;
                color: red;
                top: 21vw;
                left: 24vw;
                font-size: 4vw;
            }
        }
    }
    .main {
        width: 300px;
        flex-direction: column;
        &__section {
            margin: 0 auto 60px auto;
        }
    }
}

@media (max-width: 420px) {
    .header {
        &__right {
            width: 300px;
        }
        &_map {
            &-link01 {
                position: absolute;
                color: red;
                top: 24vw;
                left: 9vw;
                font-size: 4vw;
                top: 66px;
                left: 23px;
                font-size: 30px;
            }
            &-link02 {
                position: absolute;
                color: red;
                top: 9vw;
                left: 27vw;
                top: 18px;
                left: 81px;
                font-size: 4vw;
                font-size: 30px;
            }
            &-link03 {
                position: absolute;
                color: red;
                top: 16vw;
                left: 53vw;
                font-size: 4vw;
                top: 40px;
                left: 163px;
                font-size: 30px;
            }
            &-link04 {
                position: absolute;
                color: red;
                top: 21vw;
                left: 24vw;
                font-size: 4vw;
                top: 48px;
                left: 70px;
                font-size: 30px;
            }
        }
    }
    .main {
        width: 300px;
    }
}