body {
    background-color: black;
    color: white;
}

is-flex {
    display: flex;
}

.header {
    &__img {
        width: 107px;
        height: 128px;
        margin: 0 auto;
        padding-top: 120px;
    }
    &__line {
        margin: 30px auto 0 auto;
    }
}

.main {
    border-top: solid 2px white;
    color: white;
    max-width: 1000px;
    margin: 75px auto 50px auto;
    display: flex;
    justify-content: space-around;
    &__section {
        width: 175px;
    }
    &__logo {
        position: relative;
        width: 175px;
        margin: 0 auto;
        height: 206px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            width: auto;
            margin: auto;
        }
        &--01 {
            img {
                width: 154px;
                height: auto;
            }
        }
        &--02 {
            img {
                width: 44px;
                height: auto;
            }
        }
        &--03 {
            img {
                width: 73px;
                height: auto;
            }
        }
        &--04 {
            img {
                width: 109px;
                height: auto;
            }
        }
    }
    &__wrapper {
        height: 124px;
        width: 175px;
    }
    &__icon {
        width: 25px;
        height: 25px;
        &--map {
            width: 12px;
            height: 18px;
        }
        &--tel {
            width: 15px;
            height: 14px;
        }
        &--house {
            width: 18px;
            height: 16px;
        }
        &--insta {
            width: 20px;
            height: 20px;
        }
    }
    &__flex {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img {
            margin: auto;
        }
    }
    &__text {
        width: 140px;
        margin-left: 5px;
    }
    &__short-line {
        width: 100%;
        margin: 50px 0 30px 0;
    }
    &__map {
        width: 100%;
    }
    &__copyright {
        text-align: center;
        padding-bottom: 5px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 9px;
    }
    .main {
        width: 300px;
        flex-direction: column;
        &__section {
            margin: 0 auto 60px auto;
        }
    }
}