body {
  background-color: black;
  color: white;
}

html,
body {
  height: 100%;
}

is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body__wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
  background-color: black;
}

.header {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
  color: transparent;
}

.header__left {
  margin-right: 50px;
}

.header__logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94.1px;
  margin-top: -10px;
}

.header__logo {
  position: relative;
  width: 80.25px;
  height: 94.1px;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  width: auto;
  margin: auto;
}

.header__logo.logo01 img {
  height: 33px;
}

.header__logo.logo01:before {
  z-index: 10;
  content: '1';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
}

.header__logo.logo02:before {
  z-index: 10;
  content: '2';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
}

.header__logo.logo03:before {
  z-index: 10;
  content: '3';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
}

.header__logo.logo04:before {
  z-index: 10;
  content: '4';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
}

.header__img {
  width: 107px;
  height: 128px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header__right {
  position: relative;
  width: 321px;
}

.header_map-link01 {
  position: absolute;
  color: red;
  top: 77px;
  left: 25px;
  font-size: 2em;
}

.header_map-link02 {
  position: absolute;
  color: red;
  top: 25px;
  left: 87px;
  font-size: 2em;
}

.header_map-link03 {
  position: absolute;
  color: red;
  top: 48px;
  left: 176px;
  font-size: 2em;
}

.header_map-link04 {
  position: absolute;
  color: red;
  top: 66px;
  left: 76px;
  font-size: 2em;
}

.header__map {
  width: 100%;
  height: auto;
}

.header__line {
  margin: 30px auto 0 auto;
}

.main {
  border-top: solid 4px white;
  color: white;
  max-width: 1000px;
  margin: 34px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__section {
  width: 175px;
}

.main__logo {
  position: relative;
  width: 175px;
  margin: 0 auto;
  height: 206px;
}

.main__logo img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: auto;
  margin: auto;
}

.main__logo--01 img {
  width: 154px;
  height: auto;
}

.main__logo--02 img {
  width: 44px;
  height: auto;
}

.main__logo--03 img {
  width: 73px;
  height: auto;
}

.main__logo--04 img {
  width: 109px;
  height: auto;
}

.main__wrapper {
  height: 124px;
  width: 175px;
}

.main__icon {
  width: 25px;
  height: 25px;
}

.main__icon--map {
  width: 12px;
  height: 18px;
}

.main__icon--tel {
  width: 15px;
  height: 14px;
}

.main__icon--house {
  width: 18px;
  height: 16px;
}

.main__icon--insta {
  width: 16px;
  height: 16px;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.main__flex img {
  margin: auto;
}

.main__text {
  width: 148px;
  margin-left: 5px;
}

.main__short-line {
  width: 100%;
  margin: 50px 0 30px 0;
}

.main__map {
  width: 100%;
}

.main__copyright {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 25px;
}

@media (max-width: 768px) {
  body {
    font-size: 9px;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__left {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header__right {
    width: 300px;
  }
  .header_map-link01 {
    position: absolute;
    color: red;
    top: 24vw;
    left: 9vw;
    font-size: 4vw;
    top: 66px;
    left: 23px;
    font-size: 30px;
  }
  .header_map-link02 {
    position: absolute;
    color: red;
    top: 9vw;
    left: 27vw;
    top: 18px;
    left: 81px;
    font-size: 4vw;
    font-size: 30px;
  }
  .header_map-link03 {
    position: absolute;
    color: red;
    top: 16vw;
    left: 53vw;
    font-size: 4vw;
    top: 40px;
    left: 163px;
    font-size: 30px;
  }
  .header_map-link04 {
    position: absolute;
    color: red;
    top: 21vw;
    left: 24vw;
    font-size: 4vw;
    top: 48px;
    left: 70px;
    font-size: 30px;
  }
  .main {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__section {
    margin: 0 auto 60px auto;
  }
}
/*# sourceMappingURL=style.css.map */