.main {
    &__visual {
        margin-top: 30px;
        width: 100%;
        height: auto;
        box-shadow: 0 10px 10px 0 rgba(122, 122, 122, 0.5);
    }
    &__container {
        max-width: 960px;
        margin: 30px auto 0 auto;
    }
    &__now-open--img {
        width: 100%;
        padding-top: 30px;
        position: relative;
        // 横線は余計なので廃止
        // &:before {
        //     content: "";
        //     position: absolute;
        //     border: solid 5px black;
        //     top: 55px;
        //     left: -2035px;
        //     width: 2000px;
        // }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     border: solid 5px black;
        //     top: 55px;
        //     right: -2030px;
        //     width: 2000px;
        // }
    }
    &__entry {
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin: 30px auto 0 auto;
        text-align: center;
        img {
            width: auto;
            height: 100vh;
            text-align: center;
            margin: auto;
            box-shadow: 0 10px 10px 0 rgba(122, 122, 122, 0.5);
        }
    }
    &__schedule {
        padding: 15px;
        max-width: 300px;
        border: solid 1px gray;
        margin: 60px auto 30px auto;
        img {
            width: 100%;
        }
    }
    &__schedule-icons {
        display: flex;
        max-width: 300px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        img {
            width: 90px;
            height: auto;
        }
    }
    &__now-open {
        &--img {
            margin: 60px auto 0 auto;
            width: 300px;
            height: auto;
        }
        &--text {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 30px auto;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    &__arrow-entry {
        width: 15px;
        height: 15px;
    }
    &__nav-content {
        width: 300px;
        border: solid 1px gray;
        margin: 30px auto;
        img {
            height: 50px
        }
        padding: 15px;
        list-style: none;
        text-align: center;
        li {
            margin: 15px auto;
        }
        img {
            height: 50px;
            width: auto;
            margin: 0 auto;
        }
    }
    &__copyright {
        width: 100%;
        margin: 0 auto;
        p {
            padding-bottom: 30px;
        }
        text-align: center;
    }
    @media (max-width: 767px) {
        &__now-open--img {
            &:before,
            &:after {
                display: none;
            }
        }
        &__entry {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__visual {
            margin: 0;
        }
    }
}