body {
  background: #efefef;
  width: 100%;
  text-align: center;
}

.omikuji-container {
  text-align: center;
}

.omikuji-container .btn00 {
  width: 150px;
  height: 150px;
  background: #ef454a;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 42px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 0 #d1483e;
          box-shadow: 0 10px 0 #d1483e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.omikuji-container #btn {
  margin: 0 auto;
}

.omikuji-container #btn2,
.omikuji-container #btn3 {
  background: #6666ff;
  -webkit-box-shadow: 0 10px 0 #3019ff;
          box-shadow: 0 10px 0 #3019ff;
}

.omikuji-container .btn:hover {
  opacity: .9;
}

.omikuji-container #btn2:active,
.omikuji-container #btn3:active {
  -webkit-box-shadow: 0 5px 0 #5e76ff;
          box-shadow: 0 5px 0 #5e76ff;
  margin-top: 5px;
}

h1 {
  text-align: center;
}

.game-title {
  margin-top: 50px;
}

.dual-omikuji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bingo-container {
  font-family: 'Courier New', monospace;
  background: white;
}

.bingo-container table th,
.bingo-container table td {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: pink;
}

.bingo-container.-frametarget {
  padding: 10px 0;
  text-align: center;
}

.bingo-container.-frametarget table {
  margin: 0 auto;
}

.container.-typing {
  font-family: 'Courier New', Courier, monospace;
}

.container.-typing h2 {
  margin: 50px 0 0 0;
}

.container.-typing #target {
  padding: 50px 0 0 0;
  font-size: 48px;
  letter-spacing: .1em;
}

.container.-quiz {
  position: relative;
  text-align: left;
  width: 350px;
  margin: 8px auto;
  padding: 0 10px 10px 10px;
  background: white;
  border-radius: 10px;
}

.container.-quiz .game-title {
  margin: 50px 0 0 0;
  padding: 10px 0 0 0;
  text-align: center;
}

.container.-quiz #question {
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.container.-quiz #choices {
  list-style: none;
  padding: 0;
}

.container.-quiz #choices > li {
  border: solid 1px silver;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.container.-quiz #choices > li.disabled:after {
  background: #ccc;
  -webkit-box-shadow: 0 epx 0 #bbb;
          box-shadow: 0 epx 0 #bbb;
  opacity: 0.9;
}

.container.-quiz #choices > .correct {
  background: skyblue;
  border-color: skyblue;
  font-weight: bold;
}

.container.-quiz #choices > .correct::after {
  content: '...correct!';
}

.container.-quiz #choices > .wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  font-weight: bold;
}

.container.-quiz #choices > .wrong::after {
  content: '...wrong!';
}

.container.-quiz #btn,
.container.-quiz #result > a {
  text-align: center;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
  background: #31c5ff;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.container.-quiz #btn.disabled {
  background: #ccc;
  -webkit-box-shadow: 0 epx 0 #bbb;
          box-shadow: 0 epx 0 #bbb;
  opacity: 0.9;
}

.container.-quiz #result {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  background: white;
  padding: 30px;
  -webkit-box-shadow: 0 4px 8px silver;
          box-shadow: 0 4px 8px silver;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container.-quiz #result.hidden {
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
}

.container.-quiz #result > a {
  display: block;
}
/*# sourceMappingURL=styles.css.map */