body {
    background: #efefef;
    width: 100%;
    text-align: center;
}

.omikuji-container {
    text-align: center;
    .btn00 {
        width: 150px;
        height: 150px;
        background: #ef454a;
        border-radius: 50%;
        text-align: center;
        line-height: 150px;
        color: white;
        font-weight: bold;
        font-size: 42px;
        cursor: pointer;
        box-shadow: 0 10px 0 #d1483e;
        user-select: none;
        transition: 0.05s;
    }
    #btn {
        margin: 0 auto;
    }
    #btn2,
    #btn3 {
        background: rgb(102, 102, 255);
        box-shadow: 0 10px 0 #3019ff;
    }
    .btn:hover {
        opacity: .9;
    }
    #btn2:active,
    #btn3:active {
        box-shadow: 0 5px 0 #5e76ff;
        margin-top: 5px;
    }
}

h1 {
    text-align: center;
}

.game-title {
    margin-top: 50px;
}

.dual-omikuji {
    display: flex;
    justify-content: space-around;
}

.bingo-container {
    font-family: 'Courier New', monospace;
    table th,
    table td {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background: pink;
    }
    background: white;
}

.bingo-container.-frametarget {
    table {
        margin: 0 auto;
    }
    padding:10px 0;
    text-align: center;
}

.container {
    &.-typing {
        h2 {
            margin: 50px 0 0 0;
        }
        font-family: 'Courier New',
        Courier,
        monospace;
        #target {
            padding: 50px 0 0 0;
            font-size: 48px;
            letter-spacing: .1em;
        }
    }
    &.-quiz {
        position: relative;
        text-align: left;
        width: 350px;
        margin: 8px auto;
        padding: 0 10px 10px 10px;
        background: white;
        border-radius: 10px;
        .game-title {
            margin: 50px 0 0 0;
            padding: 10px 0 0 0;
            text-align: center;
        }
        #question {
            margin: 10px 0;
            font-weight: bold;
            text-align: center;
        }
        #choices {
            list-style: none;
            padding: 0;
            >li {
                border: solid 1px silver;
                border-radius: 10px;
                padding: 10px;
                margin: 0 0 10px 0;
                cursor: pointer;
                &.disabled:after {
                    background: #ccc;
                    box-shadow: 0 epx 0 #bbb;
                    opacity: 0.9;
                }
            }
            // >li:hover {
            //     background: rgb(221, 220, 220);
            // }
            >.correct {
                background: skyblue;
                border-color: skyblue;
                font-weight: bold;
            }
            >.correct::after {
                content: '...correct!';
            }
            >.wrong {
                background: #f8d8da;
                border-color: #f5c6cb;
                font-weight: bold;
            }
            >.wrong::after {
                content: '...wrong!';
            }
        }
        #btn,
        #result>a {
            text-align: center;
            color: white;
            font-weight: bold;
            padding-bottom: 10px;
            background: rgb(49, 197, 255);
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
        }
        #btn.disabled {
            background: #ccc;
            box-shadow: 0 epx 0 #bbb;
            opacity: 0.9;
        }
        #result {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 300px;
            background: white;
            padding: 30px;
            box-shadow: 0 4px 8px silver;
            border-radius: 10px;
            text-align: center;
            transition: 0.4s;
        }
        #result.hidden {
            transform: translateY(-500px);
        }
        #result>a {
            display: block;
        }
    }
}