.banner {
    width: 100%;
    &__banner-full {
        width: 100%;
        height: auto;
    }
    &__banner-full:hover {
        opacity: 0.5;
    }
    &__half {
        width: 45%;
        height: auto;
    }
}