.news {
    background-color: #f3f3f3;
    padding: 75px 15px 20px 15px;
    &__title-area {
        margin: 0 auto 42px auto;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    &__ichiran {
        margin-left: auto;
        a {
            text-decoration: none;
            color: black;
        }
    }
    &__text-area {
        max-width: 1100px;
        margin: 0 auto 60px auto;
        background-color: white;
        &>div {
            display: flex;
            border-bottom: solid 1px #f3f3f3;
            padding: 33px 43px;
        }
    }
    &__date {
        font-family: "Roboto";
        font-weight: bold;
        margin-left: 50px;
        margin-right: 55px;
    }
    &__text {}
}

@media screen and (max-width:768px) {
    .news {
        &__text-area {
            &>div {
                flex-direction: column;
            }
        }
        &__date {
            margin: 0;
        }
    }
}