.subtitle {
    font-size: 18px;
    font-weight: bold;
    &--buisiness {
        margin: 0 auto 55px auto;
    }
    &--works {
        margin: 0 auto;
        max-width: 1050px;
    }
}

@media screen and (max-width:768px) {
    .subtitle {
        &--works {
            margin-left: 15px;
        }
    }
}